<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">
<h:head>

    <title><ui:insert name="head-title">Traveler</ui:insert></title>

    <meta content="text/html;charset=utf-8" http-equiv="Content-Type"/>
    <meta name="keywords" content="Template, html, premium, themeforest"/>
    <meta name="description"
          content="Traveler - Premium template for travel companies"/>
    <meta name="author" content="Tsoy"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <ui:insert name="head-meta"></ui:insert>

    <!-- GOOGLE FONTS -->
    <link
            href='http://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700'
            rel='stylesheet' type='text/css'/>
    <link
            href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,300,600'
            rel='stylesheet' type='text/css'/>
    <!-- /GOOGLE FONTS -->
    <link rel="stylesheet" href="css/bootstrap.css"/>
    <link rel="stylesheet" href="css/font-awesome.css"/>
    <link rel="stylesheet" href="css/icomoon.css"/>
    <link rel="stylesheet" href="css/styles.css"/>
    <link rel="stylesheet" href="css/mystyles.css"/>
    <link rel="stylesheet" href="css/main.css"/>
    <link rel="stylesheet" href="css/jquery-ui/jquery-ui.css"/>
    <link rel="stylesheet" href="css/jquery-ui/jquery-ui.min.css"/>
    <link rel="stylesheet" href="css/jquery-ui/jquery-ui.theme.css"/>
    <link rel="stylesheet" href="css/jquery-ui/jquery-ui.structure.css"/>
    <link rel="stylesheet" href="css/jquery-ui/jquery-ui.theme.min.css"/>
    <link href="css/bootstrap-social.css" rel="stylesheet"/>
    <ui:insert name="head-css"></ui:insert>
    <script src="js/modernizr.js"></script>
    <ui:insert name="head-js"></ui:insert>


</h:head>

<h:body class="full">
    <ui:debug hotkey="x"
              rendered="#{initParam['javax.faces.FACELETS_DEVELOPMENT']}"/>

    <!-- FACEBOOK WIDGET -->
    <div id="fb-root"></div>
    <script>
        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id))
                return;
            js = d.createElement(s);
            js.id = id;
            js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&amp;version=v2.0";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>
    <!-- /FACEBOOK WIDGET -->
    <div class="global-wrap">

        <ui:insert name="header">
            <ui:include src="/WEB-INF/template/header.xhtml"></ui:include>
        </ui:insert>
        <ui:insert name="content"></ui:insert>
        <ui:insert name="footer">
            <ui:include src="/WEB-INF/template/footer.xhtml"></ui:include>
        </ui:insert>

        <!--<script src="js/jquery.js"></script>-->
        <script src="js/bootstrap.js"></script>
        <script src="js/slimmenu.js"></script>
        <script src="js/bootstrap-datepicker.js"></script>
        <script src="js/bootstrap-timepicker.js"></script>
        <script src="js/nicescroll.js"></script>
        <script src="js/dropit.js"></script>
        <script src="js/ionrangeslider.js"></script>
        <!--<script src="js/icheck.js"></script>-->
        <script src="js/fotorama.js"></script>
        <script src="js/card-payment.js"></script>
        <script src="js/magnific.js"></script>
        <script src="js/owl-carousel.js"></script>
        <script src="js/fitvids.js"></script>
        <script src="js/countdown.js"></script>
        <script src="js/gridrotator.js"></script>
        <script src="js/custom.js"></script>
    </div>

    <ui:insert name="body-js"></ui:insert>

</h:body>

</html>
