<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ps="http://xmlns.jcp.org/jsf/passthrough">

<f:view>
    <f:metadata>
    </f:metadata>
</f:view>
<h:head></h:head>
<h:body>
    <f:view locale="#{localeBean.locale}">
        <h:form id="form">
            <header id="main-header">
                <div class="header-top">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-3">
                                <a class="logo" href="Home.jsf"> <img
                                        src="img/logo-invert.png" alt="Image Alternative text"
                                        title="Image Title"/>
                                </a>
                            </div>
                            <div class="col-md-9">
                                <div class="top-user-area clearfix">
                                    <ul class="top-user-area-list list list-horizontal list-border">

                                        <c:if test="#{not empty userSessionBean.profile}">

                                            <li class="top-user-area-avatar"><a
                                                    href="user-profile.html"> <h:graphicImage
                                                    rendered="#{not empty userSessionBean.profile.profileImageURL}"
                                                    value="#{userSessionBean.profile.profileImageURL}"
                                                    styleClass="origin round"/> <h:outputText
                                                    value="Hi, #{userSessionBean.profile.fullName}"/>
                                            </a></li>

                                            <li><h:commandLink value="Sign Out"
                                                               action="#{userSessionBean.logOut}">
                                            </h:commandLink></li>
                                        </c:if>

                                        <c:if test="#{empty userSessionBean.profile}">

                                            <li><a href="Register.jsf">Join</a></li>
                                            <li><a href="Register.jsf">Log In</a></li>
                                        </c:if>

                                        <li class="nav-drop"><a href="#">USD $<i
                                                class="fa fa-angle-down"></i><i class="fa fa-angle-up"></i></a>
                                            <ul class="list nav-drop-menu">
                                                <li><a href="#">EUR<span class="right">€</span></a></li>
                                                <li><a href="#">GBP<span class="right">£</span></a></li>
                                                <li><a href="#">JPY<span class="right">円</span></a></li>
                                                <li><a href="#">CAD<span class="right">$</span></a></li>
                                                <li><a href="#">AUD<span class="right">A$</span></a></li>
                                            </ul>
                                        </li>
                                        <li class="top-user-area-lang nav-drop"><a href="#"> <img
                                                src="img/flags/32/#{localeBean.locale}.png"/><i
                                                class="fa fa-angle-down"></i> <i class="fa fa-angle-up"></i>
                                            #{localeBean.locale}
                                        </a>
                                            <ul class="list nav-drop-menu">

                                                <c:forEach items="#{localeBean.localeList}" var="locale"
                                                           varStatus="loop">
                                                    <li><p:commandLink
                                                            actionListener="#{localeBean.setLocale(locale)}"
                                                            onclick="document.form.submit();">
                                                        <img src="img/flags/32/#{locale}.png"/>
                                                        <span class="right">#{locale}</span>
                                                    </p:commandLink></li>


                                                </c:forEach>

                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="nav">
                        <ul class="slimmenu" id="slimmenu">

                            <li><a href="FindHotels.jsf">#{locale.Hotels}</a>
                                <ul>
                                    <li><a href="FindHotels.jsf">Find Hotels</a></li>
                                    <li><a
                                            href="SearchHotels.jsf?view=block&amp;destinationId=34">Istanbul</a></li>
                                    <li><a
                                            href="SearchHotels.jsf?view=block&amp;destinationId=1">Adana</a></li>
                                    <li><a
                                            href="SearchHotels.jsf?view=block&amp;destinationId=4">Agri</a></li>


                                </ul>
                            </li>
                            <!--<li><a href="#">Flights</a></li>
                            <li><a href="#">Rentals</a></li>
                            <li><a href="#">Cars</a></li>
                            <li><a href="#">Activities</a></li>
                            -->
                        </ul>
                    </div>
                </div>
            </header>
        </h:form>
    </f:view>
</h:body>
</html>
