/************search box************/
.ui-search-autocomplete {
    position: absolute;
    cursor: default;
    background: white;
    border: 1px solid #dddddd;
    -moz-box-shadow: 0 2px 4px #aaa;
    -webkit-box-shadow: 0 2px 4px #aaa;
    box-shadow: 0 2px 4px #aaa;
    max-height: 350px;
    width: 447px;
    background: white;
    font-family: "Helvetica Neue", "HelveticaNeue", Helvetica, Arial,
    "Lucida Grande", sans-serif;
    font-size: 12px;
    line-height: 18px;
    color: #333333;
    -webkit-font-smoothing: antialiased;
}

.ui-search-searchbox-autocomplete {
    width: 702px !important;
    min-height: auto;
    max-height: none
}

.ui-search-filter-autocomplete {
    overflow-y: auto;
    max-height: 250px;
    overflow-x: hidden
}

.lt-ie8 .searchResults ul.ui-search-autocomplete {
    margin-top: 5px;
    margin-left: -6px
}

.ui-search-menu-item {
    margin: 0;
    position: relative;
    overflow: hidden;
    width: 447px
}

.ui-search-menu-item a {
    padding: 5px 7px;
    display: block;
    cursor: pointer;
    color: #333333;
    border-bottom: 1px solid #dddddd;
    border-top: 1px solid white;
    -webkit-transition: none;
    -moz-transition: none;
    -ms-transition: none;
    -o-transition: none;
    transition: none
}

.ui-search-searchbox-autocomplete .ui-search-menu-item a {
    border-right: 1px solid #dddddd
}

.ui-search-menu-item a:hover, .ui-search-menu-item .ui-search-state-focus, .ui-search-menu-item .ui-search-state-focus {
    background: #0099cc;
    color: white;
    text-decoration: none;
    text-shadow: 0px 1px 0px #327db7;
    border-color: #76aeda
}

.ui-search-autocomplete-category {
    padding: 3px;
    margin: 0;
    color: #888888;
    background: #f2f2f2;
    font-size: 11px;
    width: 314px
}

.autocompleter-loading {
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    top: 0;
    left: 0;
    float: left;
    width: 20px;
    height: 16px;
    background: white url(/graphics/new-design/indicators/load_indicator.gif)
}

.autocompleteType {
    float: left;
    margin: 0 5px 0 0;
    width: 21px;
    height: 24px;
    background: url("../img/sprite-0626.png") no-repeat scroll transparent
}

.autocompleteType.autocompleteTypePoi {
    background-position: -303px -1409px
}

.ui-search-menu-item a:hover .autocompleteType.autocompleteTypePoi, .ui-search-menu-item .ui-search-state-focus .autocompleteType.autocompleteTypePoi {
    background-position: -318px -1409px;
    text-decoration: none
}

.autocompleteType.autocompleteType1 {
    background-position: -303px -1380px
}

.ui-search-menu-item a:hover .autocompleteType.autocompleteType1, .ui-search-menu-item .ui-search-state-focus .autocompleteType.autocompleteType1 {
    background-position: -319px -1380px;
    text-decoration: none;
    width: 17px;
    margin-right: 9px
}

.autocompleteType.autocompleteType2 {
    background-position: -299px -1432px
}

.register {
    color: #2a6496;
}

.ui-search-menu-item a:hover .autocompleteType.autocompleteType2, .ui-search-menu-item .ui-search-state-focus .autocompleteType.autocompleteType2 {
    background-position: -447px -1432px;
    text-decoration: none
}

.autocomplete-recentSearches-item, .autocomplete-recentSearches-item:visited {
    display: block;
    color: #333333;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    padding: 10px;
    border-bottom: 1px solid #dddddd;
    background: #ecf2f7
}

.autocomplete-recentSearches-noResults {
    color: #333333;
    padding: 10px
}

.autocomplete-recentSearches-item:hover {
    text-decoration: none;
    color: white;
    background: #8abadf;
    text-shadow: 0px 1px 0px #327db7;
    border-bottom: 1px solid #76aeda
}

.autocomplete-recentSearches-dates {
    font-size: 9px;
    display: block;
    color: #888888
}

.autocomplete-recentSearches-item:hover .autocomplete-recentSearches-dates {
    color: #fff
}

.autocomplete-recentSearches {
    width: 253px;
    float: right;
    border-left: 1px solid #dddddd;
    margin: 0;
    left: -1px;
    position: relative;
    font-size: 11px;
    line-height: 1.5
}

.autocomplete-recentSearches-location {
    width: 210px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis
}

.autocomplete-recentSearches p {
    padding: 7px;
    text-align: center;
    margin: 0
}

.autocomplete-recentSearches-title {
    background: #cfebff !important;
    color: #004d85 !important;
    font-size: 11px !important;
    font-weight: normal !important;
    text-align: center !important;
    padding: 15px 10px !important;
    -moz-box-shadow: inset 0px 0px 2px #999 !important;
    -webkit-box-shadow: inset 0px 0px 2px #999 !important;
    box-shadow: inset 0px 0px 2px #999 !important;
    margin: 0
}

.ui-search-front {
    z-index: 1001
}

.icon-recent-autocomplete {
    float: right;
    margin: 6px 0 6px 6px
}

.ui-search-widget-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5)
}

.lt-ie9 .ui-search-widget-overlay {
    background: #000000;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    overflow: hidden
}

.lt-ie8 .ui-search-widget-overlay {
    background: #000000;
    filter: alpha(opacity=50)
}

.icon, .sprite, .stars, .checkMarkBullet, .icon-calendar-small, .icon-recent, .icon-recent-autocomplete {
    background: url("../img/sprite-0626.png") no-repeat
}

.icon-recent, .icon-recent-autocomplete {
    opacity: 0.5;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=" 50 ")";
    filter: alpha(opacity=50);
    zoom: 1;
    background-position: 0 0;
    display: inline-block;
    width: 18px;
    height: 16px;
    line-height: 16px;
    margin: 0 5px;
    vertical-align: middle
}

.refine {
    margin: 0;
    padding-left: 10px;
    color: #888888;
    font-style: italic;
    float: left;
    width: 447px;
    border-right: 1px solid #dddddd
}

.thumbnail-item {
    /* position relative so that we can use position absolute for the tooltip */
    position: relative;
    float: left;
    margin: 0px 5px;
}

.thumbnail-item a {
    display: block;
}

.thumbnail-item img.thumbnail {
    border: 3px solid #ccc;
}

.tooltip {
    /* by default, hide it */
    display: none;
    /* allow us to move the tooltip */
    position: absolute;
    /* align the image properly */
    padding: 8px 0 0 8px;
}

.tooltip span.overlay {
    /* the png image, need ie6 hack though */
    background: url(images/overlay.png) no-repeat;
    /* put this overlay on the top of the tooltip image */
    position: absolute;
    top: 0px;
    left: 0px;
    display: block;
    width: 350px;
    height: 200px;
}

.map-overlay.active {
    display: block;
}

.map-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #fff;
    border-top: 0.39411765em solid #004d85;
    z-index: 1001;
}

.map-inline .map-canvas, .map-overlay .map-canvas {
    position: absolute;
    top: 4.23529412em;
    left: 0;
    right: 0;
    bottom: 0;
}

.ModalProgressContainer {
    z-index: 10005;
    position: fixed;
    cursor: wait;
    background: rgba(251, 251, 251, 0.7);
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    text-align: center;
    color: #fff;
}

.ModalProgressContent {
    font-weight: bold;
    color: #333;
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 12.5px
}

.amount1 {
    float: left;
    border: none;
    width: 100px;
    background: none;
    font: 75%/150% "Lato", Arial, Helvetica, sans-serif;
    color: #838383;
    font-size: 12px;
    padding-top: 9px;
}

.amount2 {
    float: right;
    border: none;
    width: 100px;
    text-align: right;
    background: none;
    font: 75%/150% "Lato", Arial, Helvetica, sans-serif;
    color: #838383;
    font-size: 12px;
    padding-top: 9px;
}

/* 2.2.10. Five Stars */
.five-stars-container {
    display: inline-block;
    position: relative;
    font-family: 'Glyphicons Halflings';
    font-size: 14px;
    text-align: left;
    cursor: default;
    white-space: nowrap;
    line-height: 1.2em;
    color: #dbdbdb;
}

.five-stars-container .five-stars, .five-stars-container.editable-rating .ui-slider-range {
    display: block;
    overflow: hidden;
    position: relative;
    background: #fff;
    padding-left: 1px;
}

.five-stars-container .five-stars:before, .five-stars-container.editable-rating .ui-slider-range:before {
    content: "\e006\e006\e006\e006\e006";
    color: #fdb714;
}

.five-stars-container .five-stars.transparent-bg, .five-stars-container.editable-rating .ui-slider-range.transparent-bg {
    background: none;
}

.five-stars-container:before {
    display: block;
    position: absolute;
    top: 0;
    left: 1px;
    content: "\e006\e006\e006\e006\e006";
    z-index: 0;
}

.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight {
    border: 1px solid #fcd113;
    background: #f8da4e url(/showcase/javax.faces.resource/images/ui-bg_glass_55_f8da4e_1x400.png.xhtml?ln=primefaces-start) 50% 50% repeat-x;
    background-image: url(/showcase/javax.faces.resource/images/ui-bg_glass_55_f8da4e_1x400.png.xhtml?ln=primefaces-start);
    background-position-x: 50%;
    background-position-y: 50%;
    background-size: initial;
    background-repeat-x: repeat;
    background-repeat-y: no-repeat;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: rgb(248, 218, 78);
    color: #915608;
}

.ui-corner-all {
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

.ui-growl-item-container {
    position: relative;
    margin: 0 0 10px 0;
    opacity: .85;
    filter: alpha(opacity=85);
}

.ui-helper-hidden {
    display: none;
}

.ui-shadow {
    -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.8);
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.8);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.8);
}
