<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://xmlns.jcp.org/jsf/passthrough">
<ui:composition template="/WEB-INF/template/template.xhtml">
    <ui:define name="head-title">Traveler - About Us</ui:define>
    <ui:define name="head-css">
    </ui:define>
    <ui:define name="content">
        <div class="container">
            <h1 class="page-title">About Us</h1>
        </div>


        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <p class="text-bigger">Potenti fermentum vehicula eleifend elementum varius netus adipiscing neque quisque curae urna fusce massa a lacus nisl id velit magnis venenatis consequat himenaeos netus mauris ut blandit pharetra suspendisse montes</p>
                    <p class="text-bigger">Libero eleifend bibendum cursus faucibus egestas rutrum mauris vulputate consequat ante senectus hendrerit torquent lorem scelerisque quam a curae penatibus</p>
                </div>
            </div>
            <div class="gap"></div>
        </div>
        <div class="bg-holder">
            <div class="bg-parallax" style="background-image:url(img/1280x852.png);"></div>
            <div class="bg-mask"></div>
            <div class="bg-holder-content">
                <div class="container">
                    <div class="gap gap-big text-white">
                        <div class="row">
                            <div class="col-md-10">
                                <h2>Work hard. Play hard.</h2>
                                <p class="text-bigger">Platea posuere aptent ultrices condimentum dis accumsan mus aptent egestas hac interdum odio ad vehicula leo leo facilisi consequat cras natoque et pretium ligula non per class taciti parturient posuere bibendum fringilla facilisi commodo aenean fringilla nunc at risus sit enim fringilla pharetra euismod erat congue nam placerat eleifend consequat risus magna eu neque dictum penatibus vulputate duis commodo placerat</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="gap"></div>
            <h2>Our Approach</h2>
            <div class="row">
                <div class="col-md-8">
                    <p class="text-bigger">Ac lacinia platea cras lobortis nullam dapibus laoreet viverra natoque dictumst etiam torquent pulvinar sit tempus amet class porta vestibulum rutrum commodo tincidunt quisque vehicula pretium viverra vestibulum tempus leo class senectus lacus eget scelerisque adipiscing varius mollis dis sed enim gravida tempus tincidunt posuere consequat vehicula lorem curae sociis</p>
                </div>
            </div>
            <div class="gap"></div>
            <h2>Rockstar Team</h2>
            <div class="row">
                <div class="col-md-10">
                    <p class="text-bigger mb30">Volutpat facilisis varius vehicula commodo natoque tristique laoreet tellus ad id rhoncus inceptos sollicitudin eget tristique etiam sagittis rutrum feugiat nisi aptent torquent vulputate velit hendrerit tortor iaculis leo varius</p>
                </div>
            </div>
            <div class="row row-wrap" data-gutter="60">
                <div class="col-md-3">
                    <div class="thumb text-center">
                        <header class="thumb-header">
                            <img class="round" src="img/300x300.png" alt="Image Alternative text" title="AMaze"/>
                        </header>
                        <div class="thumb-caption">
                            <h5 class="thumb-title">Minnie Aviles</h5>
                            <p class="thumb-meta text-small">Project Manager</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="thumb text-center">
                        <header class="thumb-header">
                            <img class="round" src="img/300x300.png" alt="Image Alternative text" title="Chiara"/>
                        </header>
                        <div class="thumb-caption">
                            <h5 class="thumb-title">Joe Smith</h5>
                            <p class="thumb-meta text-small">Product Designer</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="thumb text-center">
                        <header class="thumb-header">
                            <img class="round" src="img/300x300.png" alt="Image Alternative text" title="Bubbles"/>
                        </header>
                        <div class="thumb-caption">
                            <h5 class="thumb-title">Joseph Hudson</h5>
                            <p class="thumb-meta text-small">Product Designer</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="thumb text-center">
                        <header class="thumb-header">
                            <img class="round" src="img/300x300.png" alt="Image Alternative text" title="Gamer Chick"/>
                        </header>
                        <div class="thumb-caption">
                            <h5 class="thumb-title">Dylan Taylor</h5>
                            <p class="thumb-meta text-small">Project Manager</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="thumb text-center">
                        <header class="thumb-header">
                            <img class="round" src="img/300x300.png" alt="Image Alternative text" title="Afro"/>
                        </header>
                        <div class="thumb-caption">
                            <h5 class="thumb-title">Minnie Aviles</h5>
                            <p class="thumb-meta text-small">Team Lead</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="thumb text-center">
                        <header class="thumb-header">
                            <img class="round" src="img/300x300.png" alt="Image Alternative text"
                                 title="Me with the Uke"/>
                        </header>
                        <div class="thumb-caption">
                            <h5 class="thumb-title">John Mathis</h5>
                            <p class="thumb-meta text-small">Developer</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="thumb text-center">
                        <header class="thumb-header">
                            <img class="round" src="img/300x300.png" alt="Image Alternative text" title="Andrea"/>
                        </header>
                        <div class="thumb-caption">
                            <h5 class="thumb-title">Blake Abraham</h5>
                            <p class="thumb-meta text-small">CEO</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="thumb text-center">
                        <header class="thumb-header">
                            <img class="round" src="img/300x300.png" alt="Image Alternative text" title="Spidy"/>
                        </header>
                        <div class="thumb-caption">
                            <h5 class="thumb-title">Carl Butler</h5>
                            <p class="thumb-meta text-small">CEO</p>
                        </div>
                    </div>
                </div>
            </div>
            <h4>Want to Join Our Team</h4>
            <div class="row">
                <div class="col-md-10">
                    <p>Ornare leo pellentesque malesuada lorem pharetra platea erat eleifend adipiscing convallis ut eros velit bibendum quis integer ligula convallis lacus ac volutpat iaculis dictum ullamcorper mauris integer pretium lobortis mattis</p>
                    <a href="#">Explore open positions</a>
                </div>
            </div>
            <div class="gap"></div>
            <h2 class="mb20">Behing the Scenes</h2>
        </div>
        <div class="row row-no-gutter">
            <div class="col-md-3">
                <img src="img/800x600.png" alt="Image Alternative text" title="The Big Showoff-Take 2"/>
            </div>
            <div class="col-md-3">
                <img src="img/800x600.png" alt="Image Alternative text" title="Gaviota en el Top"/>
            </div>
            <div class="col-md-3">
                <img src="img/800x600.png" alt="Image Alternative text" title="Street"/>
            </div>
            <div class="col-md-3">
                <img src="img/800x600.png" alt="Image Alternative text" title="Playstation controller"/>
            </div>
            <div class="col-md-3">
                <img src="img/800x600.png" alt="Image Alternative text" title="Branding  iPad Interactive Design"/>
            </div>
            <div class="col-md-3">
                <img src="img/800x600.png" alt="Image Alternative text" title="Old No7"/>
            </div>
            <div class="col-md-3">
                <img src="img/800x600.png" alt="Image Alternative text" title="Going out tonight"/>
            </div>
            <div class="col-md-3">
                <img src="img/800x600.png" alt="Image Alternative text" title="me"/>
            </div>
        </div>
        <div class="container">
        </div>

    </ui:define>
</ui:composition>
</html>