<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://xmlns.jcp.org/jsf/passthrough">
<ui:composition template="/WEB-INF/template/template.xhtml">
    <ui:define name="head-title">Traveler - About Us</ui:define>
    <ui:define name="head-css">
    </ui:define>
    <ui:define name="content">
        <div class="container">
            <h1 class="page-title">Contact Us</h1>
        </div>


        <div class="container"></div>
        <div id="map-canvas" style="height: 400px;"></div>
        <div class="container">
            <div class="gap"></div>
            <div class="row">
                <div class="col-md-7">
                    <p>In habitasse magna luctus eu netus rutrum venenatis duis
                        praesent sapien nec justo nibh maecenas ullamcorper nisl montes
                        fusce auctor viverra lacus faucibus orci euismod neque tempor
                        potenti primis sollicitudin</p>
                    <p>A tincidunt aliquam nec curabitur erat interdum non fames
                        ipsum nec eu ultricies leo quisque libero vivamus velit phasellus
                        libero</p>
                    <form class="mt30">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Name</label> <input class="form-control" type="text"/>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>E-mail</label> <input class="form-control" type="text"/>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Message</label>
                            <textarea class="form-control"></textarea>
                        </div>
                        <input class="btn btn-primary" type="submit" value="Send Message"/>
                    </form>
                </div>
                <div class="col-md-4">
                    <aside class="sidebar-right">
                        <ul class="address-list list">
                            <li>
                                <h5>Email</h5>
                                <a href="#">info@traveler.com</a>
                            </li>
                            <li>
                                <h5>Phone Number</h5>
                                <a href="#">+1 (241) 331-4400</a>
                            </li>
                            <li>
                                <h5>Skype</h5>
                                <a href="#">contact_traveller</a>
                            </li>
                            <li>
                                <h5>Address</h5>
                                <address>
                                    Traveler Ltd.<br/>1355 Market St, Suite 900<br/>San
                                    Francisco, CA 94103<br/>United States<br/>
                                </address>
                            </li>
                        </ul>
                    </aside>
                </div>
            </div>
            <div class="gap"></div>
        </div>


    </ui:define>
</ui:composition>
</html>