<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ps="http://xmlns.jcp.org/jsf/passthrough">
<ui:composition template="/WEB-INF/template/template.xhtml">
    <ui:define name="head-title">Hotels</ui:define>

    <ui:define name="content">

        <div class="container">
            <h1 class="page-title">Search for Hotels</h1>
        </div>
        <div class="container">

            <h:form id="hotelSearchForm">
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group form-group-icon-left">
                            <i class="fa fa-map-marker input-icon input-icon-hightlight"></i>
                            <label>Where</label>
                            <h:inputText global="false" id="search"
                                         value="#{itemSearchBean.key}"
                                         styleClass="typeahead form-control" autocomplete="off"
                                         ps:placeholder="City, Hotel Name or U.S. Zip Code">
                                <f:validateLength minimum="2"/>
                                <f:ajax event="keyup" execute="@this"
                                        listener="#{itemSearchBean.searchItem}" render="search-panel"/>
                            </h:inputText>
                            <h:panelGroup id="search-panel">
															<span id="search-hotel"> <h:panelGroup
                                                                    id="search-span"
                                                                    rendered="#{itemSearchBean.display}">
                                                                <ul
                                                                        class="ui-search-autocomplete ui-search-front ui-search-menu ui-search-widget ui-search-widget-content ui-search-corner-all ui-search-searchbox-autocomplete"
                                                                        id="ui-search-id-1" tabindex="0"
                                                                        style="position: absolute; width: 576px; padding: 0;">
                                                                    <li class="autocomplete-recentSearches"
                                                                        style="list-style: none">
                                                                        <h3 class="autocomplete-recentSearches-title">Your
                                                                            search history will be visible here</h3>

                                                                        <p>
                                                                            To save your searches for your next visit, please
                                                                            <a
                                                                                    class="register"
                                                                                    href="Register.jsf">
                                                                                log in here </a>
                                                                        </p>

                                                                        <p>
                                                                            No account yet? <a class="register"
                                                                                               href="Register.jsf"> Sign up here </a>
                                                                        </p>
                                                                    </li>
                                                                    <ui:repeat value="#{itemSearchBean.items}"
                                                                               var="item"
                                                                               varStatus="loop">

                                                                        <li class="ui-search-menu-item"
                                                                            role="presentation">
                                                                            <p:commandLink
                                                                                    actionListener="#{itemSearchBean.setItem(item)}"
                                                                                    update="@form"
                                                                                    styleClass="ui-search-corner-all">
                                                                                <span
                                                                                        class="autocompleteType autocompleteType#{item.itemType}">
																						&nbsp; </span> <span
                                                                                    class="autocompleteValue"> <strong></strong>
																						<h:outputText
                                                                                                value="#{item.itemName}"/>
																				</span>
                                                                            </p:commandLink>
                                                                        </li>
                                                                    </ui:repeat>
                                                                    <li class="refine" style="list-style: none">Type
                                                                        more to refine your search results
                                                                    </li>
                                                                </ul>
                                                            </h:panelGroup>
															</span>
                            </h:panelGroup>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="input-daterange" data-date-format="MM d, D">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group form-group-icon-left">
                                        <i class="fa fa-calendar input-icon input-icon-hightlight"></i>
                                        <label>Check in</label> <input class="form-control"
                                                                       name="start" type="text"/>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group form-group-icon-left">
                                        <i class="fa fa-calendar input-icon input-icon-hightlight"></i>
                                        <label>Check out</label> <input class="form-control"
                                                                        name="end" type="text"/>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group form-group- form-group-select-plus">
                                    <label>Guests</label>
                                    <div class="btn-group btn-group-select-num"
                                         data-toggle="buttons">
                                        <label class="btn btn-primary"> <input type="radio"
                                                                               name="options"/>1
                                        </label> <label class="btn btn-primary active"> <input
                                            type="radio" name="options"/>2
                                    </label> <label class="btn btn-primary"> <input type="radio"
                                                                                    name="options"/>3
                                    </label> <label class="btn btn-primary"> <input type="radio"
                                                                                    name="options"/>4
                                    </label> <label class="btn btn-primary"> <input type="radio"
                                                                                    name="options"/>4+
                                    </label>
                                    </div>
                                    <select class="form-control hidden">
                                        <option>1</option>
                                        <option>2</option>
                                        <option>3</option>
                                        <option>4</option>
                                        <option selected="selected">5</option>
                                        <option>6</option>
                                        <option>7</option>
                                        <option>8</option>
                                        <option>9</option>
                                        <option>10</option>
                                        <option>11</option>
                                        <option>12</option>
                                        <option>13</option>
                                        <option>14</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group form-group-select-plus">
                                    <label>Rooms</label>
                                    <div class="btn-group btn-group-select-num"
                                         data-toggle="buttons">
                                        <label class="btn btn-primary active"> <input
                                                type="radio" name="options"/>1
                                        </label> <label class="btn btn-primary"> <input type="radio"
                                                                                        name="options"/>2
                                    </label> <label class="btn btn-primary"> <input type="radio"
                                                                                    name="options"/>3
                                    </label> <label class="btn btn-primary"> <input type="radio"
                                                                                    name="options"/>4
                                    </label> <label class="btn btn-primary"> <input type="radio"
                                                                                    name="options"/>4+
                                    </label>
                                    </div>
                                    <select class="form-control hidden">
                                        <option>1</option>
                                        <option>2</option>
                                        <option>3</option>
                                        <option>4</option>
                                        <option selected="selected">5</option>
                                        <option>6</option>
                                        <option>7</option>
                                        <option>8</option>
                                        <option>9</option>
                                        <option>10</option>
                                        <option>11</option>
                                        <option>12</option>
                                        <option>13</option>
                                        <option>14</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <h:commandButton id="hotel-search-btn"
                                 styleClass="btn btn-primary mt10" data-animation-type="bounce"
                                 data-animation-duration="1" value="Search for Hotels"
                                 action="#{itemSearchBean.submit}"/>
            </h:form>
            <div class="gap gap-small"></div>
            <h3 class="mb20">Hotels in Popular Destinations</h3>
            <div class="row row-wrap">
                <div class="col-md-3">
                    <div class="thumb">
                        <a class="hover-img" href="#"> <img src="img/800x600.png"
                                                            alt="Image Alternative text" title="Gaviota en el Top"/>
                            <div
                                    class="hover-inner hover-inner-block hover-inner-bottom hover-inner-bg-black hover-hold">
                                <div class="text-small">
                                    <h5>New York City Hotels</h5>
                                    <p>55970 reviews</p>
                                    <p class="mb0">316 offers from $78</p>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="thumb">
                        <a class="hover-img" href="#"> <img src="img/800x600.png"
                                                            alt="Image Alternative text" title="Sydney Harbour"/>
                            <div
                                    class="hover-inner hover-inner-block hover-inner-bottom hover-inner-bg-black hover-hold">
                                <div class="text-small">
                                    <h5>Sydney Hotels</h5>
                                    <p>60132 reviews</p>
                                    <p class="mb0">381 offers from $100</p>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="thumb">
                        <a class="hover-img" href="#"> <img src="img/800x600.png"
                                                            alt="Image Alternative text" title="Street"/>
                            <div
                                    class="hover-inner hover-inner-block hover-inner-bottom hover-inner-bg-black hover-hold">
                                <div class="text-small">
                                    <h5>Disney World Hotels</h5>
                                    <p>60349 reviews</p>
                                    <p class="mb0">561 offers from $50</p>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="thumb">
                        <a class="hover-img" href="#"> <img src="img/400x300.png"
                                                            alt="Image Alternative text" title="the journey home"/>
                            <div
                                    class="hover-inner hover-inner-block hover-inner-bottom hover-inner-bg-black hover-hold">
                                <div class="text-small">
                                    <h5>Seattle Hotels</h5>
                                    <p>57291 reviews</p>
                                    <p class="mb0">508 offers from $75</p>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="thumb">
                        <a class="hover-img" href="#"> <img src="img/800x600.png"
                                                            alt="Image Alternative text"
                                                            title="lack of blue depresses me"/>
                            <div
                                    class="hover-inner hover-inner-block hover-inner-bottom hover-inner-bg-black hover-hold">
                                <div class="text-small">
                                    <h5>Miami Hotels</h5>
                                    <p>73049 reviews</p>
                                    <p class="mb0">329 offers from $82</p>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="thumb">
                        <a class="hover-img" href="#"> <img src="img/800x600.png"
                                                            alt="Image Alternative text" title="waipio valley"/>
                            <div
                                    class="hover-inner hover-inner-block hover-inner-bottom hover-inner-bg-black hover-hold">
                                <div class="text-small">
                                    <h5>Sydney Hotels</h5>
                                    <p>74632 reviews</p>
                                    <p class="mb0">349 offers from $62</p>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="thumb">
                        <a class="hover-img" href="#"> <img src="img/800x600.png"
                                                            alt="Image Alternative text"
                                                            title="the best mode of transport here in maldives"/>
                            <div
                                    class="hover-inner hover-inner-block hover-inner-bottom hover-inner-bg-black hover-hold">
                                <div class="text-small">
                                    <h5>Virginia Beach Hotels</h5>
                                    <p>79726 reviews</p>
                                    <p class="mb0">912 offers from $58</p>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="thumb">
                        <a class="hover-img" href="#"> <img src="img/800x600.png"
                                                            alt="Image Alternative text"
                                                            title="Upper Lake in New York Central Park"/>
                            <div
                                    class="hover-inner hover-inner-block hover-inner-bottom hover-inner-bg-black hover-hold">
                                <div class="text-small">
                                    <h5>Atlantic City Hotels</h5>
                                    <p>75537 reviews</p>
                                    <p class="mb0">941 offers from $100</p>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="thumb">
                        <a class="hover-img" href="#"> <img src="img/800x600.png"
                                                            alt="Image Alternative text" title="Viva Las Vegas"/>
                            <div
                                    class="hover-inner hover-inner-block hover-inner-bottom hover-inner-bg-black hover-hold">
                                <div class="text-small">
                                    <h5>Las Vegas</h5>
                                    <p>74962 reviews</p>
                                    <p class="mb0">393 offers from $79</p>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="thumb">
                        <a class="hover-img" href="#"> <img src="img/800x600.png"
                                                            alt="Image Alternative text"
                                                            title="El inevitable paso del tiempo"/>
                            <div
                                    class="hover-inner hover-inner-block hover-inner-bottom hover-inner-bg-black hover-hold">
                                <div class="text-small">
                                    <h5>Budapest</h5>
                                    <p>79307 reviews</p>
                                    <p class="mb0">950 offers from $100</p>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="thumb">
                        <a class="hover-img" href="#"> <img src="img/800x600.png"
                                                            alt="Image Alternative text" title="new york at an angle"/>
                            <div
                                    class="hover-inner hover-inner-block hover-inner-bottom hover-inner-bg-black hover-hold">
                                <div class="text-small">
                                    <h5>Boston</h5>
                                    <p>60033 reviews</p>
                                    <p class="mb0">507 offers from $74</p>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="thumb">
                        <a class="hover-img" href="#"> <img src="img/800x600.png"
                                                            alt="Image Alternative text" title="196_365"/>
                            <div
                                    class="hover-inner hover-inner-block hover-inner-bottom hover-inner-bg-black hover-hold">
                                <div class="text-small">
                                    <h5>Paris</h5>
                                    <p>53627 reviews</p>
                                    <p class="mb0">586 offers from $53</p>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="gap"></div>
            <h3 class="mb20">Top Deals</h3>
            <div class="row row-wrap">
                <ui:repeat value="#{findHotelsBean.topDealsHotels}" var="hotel">


                    <div class="col-md-3">
                        <div class="thumb">
                            <header class="thumb-header"><a class="hover-img"
                                                            href="HotelReview.jsf?hotelId=#{hotel.id}"> <img
                                    src='#{hotel.images.get(0).get("url")}'
                                    alt=""
                                    title="" width="260" height="150"/>
                                <h5 class="hover-title-center">Book Now</h5>
                            </a></header>
                            <div class="thumb-caption">
                                <ul class="icon-group text-tiny text-color">
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star-o"></i></li>
                                </ul>
                                <h5 class="thumb-title">
                                    <a class="text-darken"
                                       href="HotelReview.jsf?hotelId=#{hotel.id}">#{hotel.name}</a>
                                </h5>
                                <p class="mb0">
                                    <small><i class="fa fa-map-marker"></i> New York, NY
                                        (Times Square)
                                    </small>
                                </p>
                                <p class="mb0 text-darken">
                                    <span class="text-lg lh1em text-color">$453</span>
                                    <small>
                                        avg/night
                                    </small>
                                </p>
                            </div>
                        </div>
                    </div>
                </ui:repeat>


            </div>
            <div class="gap gap-small"></div>
        </div>
    </ui:define>
</ui:composition>
</html>