<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ps="http://xmlns.jcp.org/jsf/passthrough">
<ui:composition template="/WEB-INF/template/template.xhtml">
    <ui:define name="head-title">Traveler</ui:define>
    <ui:define name="head-css">
    </ui:define>
    <ui:define name="inner"></ui:define>
    <ui:define name="content">

        <!-- TOP AREA -->
        <div class="top-area show-onload">
            <div class="bg-holder full">
                <div class="bg-mask"></div>
                <div class="bg-parallax"
                     style="background-image: url(img/2048x1365.jpg);"></div>
                <div class="bg-content">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-8">
                                <div class="search-tabs search-tabs-bg mt50">
                                    <h1>Find Your Perfect Trip</h1>

                                    <div class="tabbable">
                                        <ul class="nav nav-tabs" id="myTab">
                                            <li class="active"><a href="#tab-1" data-toggle="tab"><i
                                                    class="fa fa-building-o"></i> <span>Hotels</span></a></li>
                                            <!--<li><a href="#tab-2" data-toggle="tab"><i
                                                    class="fa fa-plane"></i> <span>Flights</span></a></li>
                                            <li><a href="#tab-3" data-toggle="tab"><i
                                                    class="fa fa-home"></i> <span>Rentals</span></a></li>
                                            <li><a href="#tab-4" data-toggle="tab"><i
                                                    class="fa fa-car"></i> <span>Cars</span></a></li>
                                            <li><a href="#tab-5" data-toggle="tab"><i
                                                    class="fa fa-bolt"></i> <span>Activities</span></a></li-->
                                        </ul>
                                        <div class="tab-content">
                                            <div class="tab-pane fade in active" id="tab-1">
                                                <h2>Search and Save on Hotels</h2>
                                                <h:form id="hotelSearchForm">
                                                    <div class="form-group form-group-lg form-group-icon-left">
                                                        <i class="fa fa-map-marker input-icon"></i> <label>Where
                                                        are you going?</label>

                                                        <h:inputText global="false" id="search"
                                                                     value="#{itemSearchBean.key}"
                                                                     styleClass="typeahead form-control"
                                                                     autocomplete="off"
                                                                     ps:placeholder="City, Airport, Point of Interest or U.S. Zip Code"
                                                                     required="true">
                                                            <f:validateLength minimum="1"/>
                                                            <f:ajax event="keyup" execute="@this"
                                                                    listener="#{itemSearchBean.searchItem}"
                                                                    render="search-panel"/>
                                                        </h:inputText>
                                                        <h:panelGroup id="search-panel">
															<span id="search-hotel"> <h:panelGroup
                                                                    id="search-span"
                                                                    rendered="#{itemSearchBean.display}">
                                                                <ul
                                                                        class="ui-search-autocomplete ui-search-front ui-search-menu ui-search-widget ui-search-widget-content ui-search-corner-all ui-search-searchbox-autocomplete"
                                                                        id="ui-search-id-1" tabindex="0"
                                                                        style="position: absolute; width: 576px; padding: 0;">
                                                                    <li class="autocomplete-recentSearches"
                                                                        style="list-style: none">
                                                                        <h3 class="autocomplete-recentSearches-title">Your
                                                                            search history will be visible here</h3>

                                                                        <p>
                                                                            To save your searches for your next visit, please
                                                                            <a
                                                                                    class="register"
                                                                                    href="Register.jsf">
                                                                                log in here </a>
                                                                        </p>

                                                                        <p>
                                                                            No account yet? <a class="register"
                                                                                               href="Register.jsf"> Sign up here </a>
                                                                        </p>
                                                                    </li>
                                                                    <ui:repeat value="#{itemSearchBean.items}"
                                                                               var="item"
                                                                               varStatus="loop">

                                                                        <li class="ui-search-menu-item"
                                                                            role="presentation">
                                                                            <p:commandLink
                                                                                    actionListener="#{itemSearchBean.setItem(item)}"
                                                                                    update="@form"
                                                                                    styleClass="ui-search-corner-all">
                                                                                <span
                                                                                        class="autocompleteType autocompleteType#{item.itemType}">
																						&nbsp; </span> <span
                                                                                    class="autocompleteValue"> <strong></strong>
																						<h:outputText
                                                                                                value="#{item.itemName}"/>
																				</span>
                                                                            </p:commandLink>
                                                                        </li>
                                                                    </ui:repeat>
                                                                    <li class="refine" style="list-style: none">Type
                                                                        more to refine your search results
                                                                    </li>
                                                                </ul>
                                                            </h:panelGroup>
															</span>
                                                        </h:panelGroup>
                                                    </div>
                                                    <div class="input-daterange" data-date-format="M d, D">
                                                        <div class="row">
                                                            <div class="col-md-3">
                                                                <div
                                                                        class="form-group form-group-lg form-group-icon-left">
                                                                    <i
                                                                            class="fa fa-calendar input-icon input-icon-highlight"></i>
                                                                    <label>Check-in</label>

                                                                    <p:calendar styleClass="date-span" id="datein"
                                                                                value="#{itemSearchBean.datein}"></p:calendar>

                                                                </div>
                                                            </div>
                                                            <div class="col-md-3">
                                                                <div
                                                                        class="form-group form-group-lg form-group-icon-left">
                                                                    <i
                                                                            class="fa fa-calendar input-icon input-icon-highlight"></i>
                                                                    <label>Check-out</label>
                                                                    <p:calendar styleClass="date-span" id="dateout"
                                                                                value="#{itemSearchBean.dateout}"></p:calendar>

                                                                </div>
                                                            </div>
                                                            <div class="col-md-3">
                                                                <div
                                                                        class="form-group form-group-lg form-group-select-plus">
                                                                    <label>Rooms</label>

                                                                    <div class="btn-group btn-group-select-num"
                                                                         data-toggle="buttons">
                                                                        <label class="btn btn-primary active"> <input
                                                                                type="radio" name="options"/>1
                                                                        </label> <label class="btn btn-primary"> <input
                                                                            type="radio" name="options"/>2
                                                                    </label> <label class="btn btn-primary"> <input
                                                                            type="radio" name="options"/>3
                                                                    </label> <label class="btn btn-primary"> <input
                                                                            type="radio" name="options"/>3+
                                                                    </label>
                                                                    </div>
                                                                    <select class="form-control hidden">
                                                                        <option>1</option>
                                                                        <option>2</option>
                                                                        <option>3</option>
                                                                        <option selected="selected">4</option>
                                                                        <option>5</option>
                                                                        <option>6</option>
                                                                        <option>7</option>
                                                                        <option>8</option>
                                                                        <option>9</option>
                                                                        <option>10</option>
                                                                        <option>11</option>
                                                                        <option>12</option>
                                                                        <option>13</option>
                                                                        <option>14</option>
                                                                    </select>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-3">
                                                                <div
                                                                        class="form-group form-group-lg form-group-select-plus">
                                                                    <label>Guests</label>

                                                                    <div class="btn-group btn-group-select-num"
                                                                         data-toggle="buttons">
                                                                        <label class="btn btn-primary active"> <input
                                                                                type="radio" name="options"/>1
                                                                        </label> <label class="btn btn-primary"> <input
                                                                            type="radio" name="options"/>2
                                                                    </label> <label class="btn btn-primary"> <input
                                                                            type="radio" name="options"/>3
                                                                    </label> <label class="btn btn-primary"> <input
                                                                            type="radio" name="options"/>3+
                                                                    </label>
                                                                    </div>
                                                                    <select class="form-control hidden">
                                                                        <option>1</option>
                                                                        <option>2</option>
                                                                        <option>3</option>
                                                                        <option selected="selected">4</option>
                                                                        <option>5</option>
                                                                        <option>6</option>
                                                                        <option>7</option>
                                                                        <option>8</option>
                                                                        <option>9</option>
                                                                        <option>10</option>
                                                                        <option>11</option>
                                                                        <option>12</option>
                                                                        <option>13</option>
                                                                        <option>14</option>
                                                                    </select>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <h:commandButton id="hotel-search-btn"
                                                                     styleClass="btn btn-primary btn-lg"
                                                                     data-animation-type="bounce"
                                                                     data-animation-duration="1"
                                                                     value="Search for Hotels"
                                                                     action="#{itemSearchBean.submit}"/>
                                                </h:form>
                                            </div>
                                            <div class="tab-pane fade" id="tab-2">
                                                <h2>Search for Cheap Flights</h2>

                                                <form>
                                                    <div class="tabbable">
                                                        <ul class="nav nav-pills nav-sm nav-no-br mb10"
                                                            id="flightChooseTab">
                                                            <li class="active"><a href="#flight-search-1"
                                                                                  data-toggle="tab">Round Trip</a></li>
                                                            <li><a href="#flight-search-2" data-toggle="tab">One
                                                                Way</a></li>
                                                        </ul>
                                                        <div class="tab-content">
                                                            <div class="tab-pane fade in active" id="flight-search-1">
                                                                <div class="row">
                                                                    <div class="col-md-6">
                                                                        <div
                                                                                class="form-group form-group-lg form-group-icon-left">
                                                                            <i class="fa fa-map-marker input-icon"></i>
                                                                            <label>From</label>
                                                                            <input class="typeahead form-control"
                                                                                   placeholder="City, Airport, U.S. Zip"
                                                                                   type="text"/>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-md-6">
                                                                        <div
                                                                                class="form-group form-group-lg form-group-icon-left">
                                                                            <i class="fa fa-map-marker input-icon"></i>
                                                                            <label>To</label>
                                                                            <input class="typeahead form-control"
                                                                                   placeholder="City, Airport, U.S. Zip"
                                                                                   type="text"/>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="input-daterange" data-date-format="M d, D">
                                                                    <div class="row">
                                                                        <div class="col-md-3">
                                                                            <div
                                                                                    class="form-group form-group-lg form-group-icon-left">
                                                                                <i
                                                                                        class="fa fa-calendar input-icon input-icon-highlight"></i>
                                                                                <label>Departing</label> <input
                                                                                    class="form-control"
                                                                                    name="start" type="text"/>
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-md-3">
                                                                            <div
                                                                                    class="form-group form-group-lg form-group-icon-left">
                                                                                <i
                                                                                        class="fa fa-calendar input-icon input-icon-highlight"></i>
                                                                                <label>Returning</label> <input
                                                                                    class="form-control"
                                                                                    name="end" type="text"/>
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-md-6">
                                                                            <div
                                                                                    class="form-group form-group-lg form-group-select-plus">
                                                                                <label>Passngers</label>

                                                                                <div class="btn-group btn-group-select-num"
                                                                                     data-toggle="buttons">
                                                                                    <label class="btn btn-primary active">
                                                                                        <input
                                                                                                type="radio"
                                                                                                name="options"/>1
                                                                                    </label> <label
                                                                                        class="btn btn-primary"> <input
                                                                                        type="radio" name="options"/>2
                                                                                </label> <label class="btn btn-primary">
                                                                                    <input
                                                                                            type="radio"
                                                                                            name="options"/>3
                                                                                </label> <label class="btn btn-primary">
                                                                                    <input
                                                                                            type="radio"
                                                                                            name="options"/>3+
                                                                                </label>
                                                                                </div>
                                                                                <select class="form-control hidden">
                                                                                    <option>1</option>
                                                                                    <option>2</option>
                                                                                    <option>3</option>
                                                                                    <option selected="selected">4</option>
                                                                                    <option>5</option>
                                                                                    <option>6</option>
                                                                                    <option>7</option>
                                                                                    <option>8</option>
                                                                                    <option>9</option>
                                                                                    <option>10</option>
                                                                                    <option>11</option>
                                                                                    <option>12</option>
                                                                                    <option>13</option>
                                                                                    <option>14</option>
                                                                                </select>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="tab-pane fade" id="flight-search-2">
                                                                <div class="row">
                                                                    <div class="col-md-6">
                                                                        <div
                                                                                class="form-group form-group-lg form-group-icon-left">
                                                                            <i class="fa fa-map-marker input-icon"></i>
                                                                            <label>From</label>
                                                                            <input class="typeahead form-control"
                                                                                   placeholder="City, Airport, U.S. Zip"
                                                                                   type="text"/>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-md-6">
                                                                        <div
                                                                                class="form-group form-group-lg form-group-icon-left">
                                                                            <i class="fa fa-map-marker input-icon"></i>
                                                                            <label>To</label>
                                                                            <input class="typeahead form-control"
                                                                                   placeholder="City, Airport, U.S. Zip"
                                                                                   type="text"/>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="row">
                                                                    <div class="col-md-3">
                                                                        <div
                                                                                class="form-group form-group-lg form-group-icon-left">
                                                                            <i
                                                                                    class="fa fa-calendar input-icon input-icon-highlight"></i>
                                                                            <label>Departing</label> <input
                                                                                class="date-pick form-control"
                                                                                data-date-format="M d, D" type="text"/>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-md-6">
                                                                        <div
                                                                                class="form-group form-group-lg form-group-select-plus">
                                                                            <label>Passngers</label>

                                                                            <div class="btn-group btn-group-select-num"
                                                                                 data-toggle="buttons">
                                                                                <label class="btn btn-primary active">
                                                                                    <input
                                                                                            type="radio"
                                                                                            name="options"/>1
                                                                                </label> <label class="btn btn-primary">
                                                                                <input
                                                                                        type="radio" name="options"/>2
                                                                            </label> <label class="btn btn-primary">
                                                                                <input
                                                                                        type="radio" name="options"/>3
                                                                            </label> <label class="btn btn-primary">
                                                                                <input
                                                                                        type="radio" name="options"/>3+
                                                                            </label>
                                                                            </div>
                                                                            <select class="form-control hidden">
                                                                                <option>1</option>
                                                                                <option>2</option>
                                                                                <option>3</option>
                                                                                <option selected="selected">4</option>
                                                                                <option>5</option>
                                                                                <option>6</option>
                                                                                <option>7</option>
                                                                                <option>8</option>
                                                                                <option>9</option>
                                                                                <option>10</option>
                                                                                <option>11</option>
                                                                                <option>12</option>
                                                                                <option>13</option>
                                                                                <option>14</option>
                                                                            </select>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <button class="btn btn-primary btn-lg" type="submit">Search
                                                        for Flights
                                                    </button>
                                                </form>
                                            </div>
                                            <div class="tab-pane fade" id="tab-3">
                                                <h2>Find Your Perfect Home</h2>

                                                <form>
                                                    <div class="form-group form-group-lg form-group-icon-left">
                                                        <i class="fa fa-map-marker input-icon"></i> <label>Where
                                                        are you going?</label> <input class="typeahead form-control"
                                                                                      placeholder="City, Airport, Point of Interest or U.S. Zip Code"
                                                                                      type="text"/>
                                                    </div>
                                                    <div class="input-daterange" data-date-format="M d, D">
                                                        <div class="row">
                                                            <div class="col-md-3">
                                                                <div
                                                                        class="form-group form-group-lg form-group-icon-left">
                                                                    <i
                                                                            class="fa fa-calendar input-icon input-icon-highlight"></i>
                                                                    <label>Check-in</label> <input class="form-control"
                                                                                                   name="start"
                                                                                                   type="text"/>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-3">
                                                                <div
                                                                        class="form-group form-group-lg form-group-icon-left">
                                                                    <i
                                                                            class="fa fa-calendar input-icon input-icon-highlight"></i>
                                                                    <label>Check-out</label> <input class="form-control"
                                                                                                    name="end"
                                                                                                    type="text"/>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-3">
                                                                <div
                                                                        class="form-group form-group-lg form-group-select-plus">
                                                                    <label>Rooms</label>

                                                                    <div class="btn-group btn-group-select-num"
                                                                         data-toggle="buttons">
                                                                        <label class="btn btn-primary active"> <input
                                                                                type="radio" name="options"/>1
                                                                        </label> <label class="btn btn-primary"> <input
                                                                            type="radio" name="options"/>2
                                                                    </label> <label class="btn btn-primary"> <input
                                                                            type="radio" name="options"/>3
                                                                    </label> <label class="btn btn-primary"> <input
                                                                            type="radio" name="options"/>3+
                                                                    </label>
                                                                    </div>
                                                                    <select class="form-control hidden">
                                                                        <option>1</option>
                                                                        <option>2</option>
                                                                        <option>3</option>
                                                                        <option selected="selected">4</option>
                                                                        <option>5</option>
                                                                        <option>6</option>
                                                                        <option>7</option>
                                                                        <option>8</option>
                                                                        <option>9</option>
                                                                        <option>10</option>
                                                                        <option>11</option>
                                                                        <option>12</option>
                                                                        <option>13</option>
                                                                        <option>14</option>
                                                                    </select>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-3">
                                                                <div
                                                                        class="form-group form-group-lg form-group-select-plus">
                                                                    <label>Guests</label>

                                                                    <div class="btn-group btn-group-select-num"
                                                                         data-toggle="buttons">
                                                                        <label class="btn btn-primary active"> <input
                                                                                type="radio" name="options"/>1
                                                                        </label> <label class="btn btn-primary"> <input
                                                                            type="radio" name="options"/>2
                                                                    </label> <label class="btn btn-primary"> <input
                                                                            type="radio" name="options"/>3
                                                                    </label> <label class="btn btn-primary"> <input
                                                                            type="radio" name="options"/>3+
                                                                    </label>
                                                                    </div>
                                                                    <select class="form-control hidden">
                                                                        <option>1</option>
                                                                        <option>2</option>
                                                                        <option>3</option>
                                                                        <option selected="selected">4</option>
                                                                        <option>5</option>
                                                                        <option>6</option>
                                                                        <option>7</option>
                                                                        <option>8</option>
                                                                        <option>9</option>
                                                                        <option>10</option>
                                                                        <option>11</option>
                                                                        <option>12</option>
                                                                        <option>13</option>
                                                                        <option>14</option>
                                                                    </select>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <button class="btn btn-primary btn-lg" type="submit">Search
                                                        for Vacation Rentals
                                                    </button>
                                                </form>
                                            </div>
                                            <div class="tab-pane fade" id="tab-4">
                                                <h2>Search for Cheap Rental Cars</h2>

                                                <form>
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <div
                                                                    class="form-group form-group-lg form-group-icon-left">
                                                                <i class="fa fa-map-marker input-icon"></i> <label>Pick-up
                                                                Location</label> <input class="typeahead form-control"
                                                                                        placeholder="City, Airport, U.S. Zip"
                                                                                        type="text"/>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div
                                                                    class="form-group form-group-lg form-group-icon-left">
                                                                <i class="fa fa-map-marker input-icon"></i> <label>Drop-off
                                                                Location</label> <input class="typeahead form-control"
                                                                                        placeholder="City, Airport, U.S. Zip"
                                                                                        type="text"/>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="input-daterange" data-date-format="M d, D">
                                                        <div class="row">
                                                            <div class="col-md-3">
                                                                <div
                                                                        class="form-group form-group-lg form-group-icon-left">
                                                                    <i
                                                                            class="fa fa-calendar input-icon input-icon-highlight"></i>
                                                                    <label>Pick-up Date</label> <input
                                                                        class="form-control"
                                                                        name="start" type="text"/>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-3">
                                                                <div
                                                                        class="form-group form-group-lg form-group-icon-left">
                                                                    <i
                                                                            class="fa fa-clock-o input-icon input-icon-highlight"></i>
                                                                    <label>Pick-up Time</label> <input
                                                                        class="time-pick form-control" value="12:00 AM"
                                                                        type="text"/>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-3">
                                                                <div
                                                                        class="form-group form-group-lg form-group-icon-left">
                                                                    <i
                                                                            class="fa fa-calendar input-icon input-icon-highlight"></i>
                                                                    <label>Drop-off Date</label> <input
                                                                        class="form-control" name="end" type="text"/>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-3">
                                                                <div
                                                                        class="form-group form-group-lg form-group-icon-left">
                                                                    <i
                                                                            class="fa fa-clock-o input-icon input-icon-highlight"></i>
                                                                    <label>Drop-off Time</label> <input
                                                                        class="time-pick form-control" value="12:00 AM"
                                                                        type="text"/>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <button class="btn btn-primary btn-lg" type="submit">Search
                                                        for Rental Cars
                                                    </button>
                                                </form>
                                            </div>
                                            <div class="tab-pane fade" id="tab-5">
                                                <h2>Search for Activities</h2>

                                                <form>
                                                    <div class="input-daterange" data-date-format="M d, D">
                                                        <div class="row">
                                                            <div class="col-md-6">
                                                                <div
                                                                        class="form-group form-group-lg form-group-icon-left">
                                                                    <i class="fa fa-map-marker input-icon"></i> <label>Where
                                                                    are you going?</label> <input
                                                                        class="typeahead form-control"
                                                                        placeholder="City, Airport, Point of Interest or U.S. Zip Code"
                                                                        type="text"/>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-3">
                                                                <div
                                                                        class="form-group form-group-lg form-group-icon-left">
                                                                    <i
                                                                            class="fa fa-calendar input-icon input-icon-highlight"></i>
                                                                    <label>From</label> <input class="form-control"
                                                                                               name="start"
                                                                                               type="text"/>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-3">
                                                                <div
                                                                        class="form-group form-group-lg form-group-icon-left">
                                                                    <i
                                                                            class="fa fa-calendar input-icon input-icon-highlight"></i>
                                                                    <label>To</label> <input class="form-control"
                                                                                             name="end" type="text"/>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <button class="btn btn-primary btn-lg" type="submit">Search
                                                        for Activities
                                                    </button>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="loc-info text-right hidden-xs hidden-sm">
                                    <h3 class="loc-info-title">
                                        <img src="img/flags/32/fr.png" alt="Image Alternative text"
                                             title="Image Title"/>Paris
                                    </h3>

                                    <p class="loc-info-weather">
                                        <span class="loc-info-weather-num">+32</span><i
                                            class="im im-sun loc-info-weather-icon"></i>
                                    </p>
                                    <ul class="loc-info-list">
                                        <li><a href="#"><i class="fa fa-building-o"></i> 144
                                            Hotels from $47/night</a></li>
                                        <li><a href="#"><i class="fa fa-home"></i> 241
                                            Rentals from $54/night</a></li>
                                        <li><a href="#"><i class="fa fa-car"></i> 129 Car
                                            Offers from $42/day</a></li>
                                        <li><a href="#"><i class="fa fa-bolt"></i> 178
                                            Activities this Week</a></li>
                                    </ul>
                                    <a class="btn btn-white btn-ghost mt10" href="#"><i
                                            class="fa fa-angle-right"></i> Explore</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- END TOP AREA  -->

        <div class="gap"></div>


        <div class="container">
            <div class="row row-wrap" data-gutter="60">
                <div class="col-md-4">
                    <div class="thumb">
                        <header class="thumb-header"><i
                                class="fa fa-send box-icon-md round box-icon-black animate-icon-top-to-bottom"></i>
                        </header>
                        <div class="thumb-caption">
                            <h5 class="thumb-title">
                                <a class="text-darken" href="#">Best Destinations</a>
                            </h5>

                            <p class="thumb-desc">Hendrerit curabitur donec neque sociis
                                sapien nisi mi sociis convallis nascetur etiam</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="thumb">
                        <header class="thumb-header"><i
                                class="fa fa-thumbs-o-up box-icon-md round box-icon-black animate-icon-top-to-bottom"></i>
                        </header>
                        <div class="thumb-caption">
                            <h5 class="thumb-title">
                                <a class="text-darken" href="#">Best Travel Agent</a>
                            </h5>

                            <p class="thumb-desc">Feugiat quam sociis diam sagittis quis
                                non arcu dictumst proin nulla etiam</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="thumb">
                        <header class="thumb-header"><i
                                class="fa fa-briefcase box-icon-md round box-icon-black animate-icon-top-to-bottom"></i>
                        </header>
                        <div class="thumb-caption">
                            <h5 class="thumb-title">
                                <a class="text-darken" href="#">Combine &amp; Save</a>
                            </h5>

                            <p class="thumb-desc">Volutpat rutrum bibendum phasellus
                                cursus magnis praesent nisi dictumst velit proin tempus</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="gap gap-small"></div>
        </div>

        <div class="container">

            <div class="row">
                <div class="col-md-4">
                    <h3>
                        Trendy Now
                        <small><a href="#">view all</a></small>
                    </h3>
                    <ul class="booking-list">

                        <ui:repeat value="#{homeBean.trendyHotels}" var="hotel">
                            <li>
                                <div class="booking-item booking-item-small"
                                     onclick="document.location='HotelReview.jsf?hotelId=#{hotel.id}'">
                                    <div class="row">
                                        <div class="col-xs-4">
                                            <img src='#{hotel.images.get(0).get("url")}' width="90" height="60" alt=""
                                                 title=""/>
                                        </div>
                                        <div class="col-xs-5">
                                            <h5 class="booking-item-title"
                                                style="width: 125px; overflow: hidden;  text-overflow: ellipsis;white-space: nowrap;">#{hotel.name}</h5>
                                            <ul class="icon-group booking-item-rating-stars">
                                                <li><i class="fa fa-star"></i></li>
                                                <li><i class="fa fa-star"></i></li>
                                                <li><i class="fa fa-star"></i></li>
                                                <li><i class="fa fa-star"></i></li>
                                                <li><i class="fa fa-star-o"></i></li>
                                            </ul>
                                        </div>
                                        <div class="col-xs-3">
                                            <span class="booking-item-price-from">from</span><span
                                                class="booking-item-price">$469</span>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ui:repeat>
                    </ul>
                </div>
                <div class="col-md-4">
                    <h3>
                        Hot Deals
                        <small><a href="#">view all</a></small>
                    </h3>
                    <ul class="booking-list">
                        <ui:repeat value="#{homeBean.hotDealHotels}" var="hotel">
                            <li>
                                <div class="booking-item booking-item-small"
                                     onclick="document.location='HotelReview.jsf?hotelId=#{hotel.id}'">
                                    <div class="row">
                                        <div class="col-xs-4">
                                            <img src='#{hotel.images.get(0).get("url")}' width="90" height="60" alt=""
                                                 title=""/>
                                        </div>
                                        <div class="col-xs-5">
                                            <h5 class="booking-item-title"
                                                style="width: 125px; overflow: hidden;  text-overflow: ellipsis;white-space: nowrap;">#{hotel.name}</h5>
                                            <ul class="icon-group booking-item-rating-stars">
                                                <li><i class="fa fa-star"></i></li>
                                                <li><i class="fa fa-star"></i></li>
                                                <li><i class="fa fa-star"></i></li>
                                                <li><i class="fa fa-star"></i></li>
                                                <li><i class="fa fa-star-o"></i></li>
                                            </ul>
                                        </div>
                                        <div class="col-xs-3">
                                            <span class="booking-item-price-from">from</span><span
                                                class="booking-item-price">$469</span>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ui:repeat>
                    </ul>
                </div>
                <div class="col-md-4">
                    <h3>
                        Special for You
                        <small><a href="#">view all</a></small>
                    </h3>
                    <ul class="booking-list">
                        <ui:repeat value="#{homeBean.specialHotels}" var="hotel">
                            <li>
                                <div class="booking-item booking-item-small"
                                     onclick="document.location='HotelReview.jsf?hotelId=#{hotel.id}'">
                                    <div class="row">
                                        <div class="col-xs-4">
                                            <img src='#{hotel.images.get(0).get("url")}' width="90" height="60" alt=""
                                                 title=""/>
                                        </div>
                                        <div class="col-xs-5">
                                            <h5 class="booking-item-title"
                                                style="width: 125px; overflow: hidden;  text-overflow: ellipsis;white-space: nowrap;">#{hotel.name}</h5>
                                            <ul class="icon-group booking-item-rating-stars">
                                                <li><i class="fa fa-star"></i></li>
                                                <li><i class="fa fa-star"></i></li>
                                                <li><i class="fa fa-star"></i></li>
                                                <li><i class="fa fa-star"></i></li>
                                                <li><i class="fa fa-star-o"></i></li>
                                            </ul>
                                        </div>
                                        <div class="col-xs-3">
                                            <span class="booking-item-price-from">from</span><span
                                                class="booking-item-price">$469</span>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ui:repeat>
                    </ul>
                </div>
            </div>

        </div>

        <div class="gap"></div>


    </ui:define>
    <ui:define name="body-js">
        <script type="text/javascript">
            initCalendar();
            function initCalendar() {
                datein = document.getElementById('hotelSearchForm:datein_input');
                dateout = document.getElementById('hotelSearchForm:dateout_input');
                datein.setAttribute("class", "form-control");
                dateout.setAttribute("class", "form-control");
            }

            $('body').click(function () {

                $(".ui-search-autocomplete").hide();
            });

        </script>
    </ui:define>
</ui:composition>
</html>