<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ps="http://xmlns.jcp.org/jsf/passthrough">
<ui:composition template="/WEB-INF/template/template.xhtml">
    <ui:define name="head-title">Traveler</ui:define>
    <ui:define name="head-css">
    </ui:define>
    <ui:define name="inner"></ui:define>
    <ui:define name="content">

        <html lang="en" xml:lang="en" xmlns="http://www.w3.org/1999/xhtml">
        <head>
            <meta content="text/html; charset=utf-8" http-equiv="content-type">
            <script type="text/javascript">//<![CDATA[
            si_ST = new Date
            //]]></script>
            <script type="text/javascript">//<![CDATA[
            sb_gh = function () {
                return location.hash
            }, sb_sh = function (n) {
                location.hash = n
            };
            function _ge(n) {
                return _d.getElementById(n)
            }
            _w = window, _d = document, sb_de = _d.documentElement, sb_ie = !!_w.ActiveXObject, sb_i6 = sb_ie && !_w.XMLHttpRequest, sb_st = _w.setTimeout, sb_ct = _w.clearTimeout, sb_gt = function () {
                return +new Date
            };
            sj_evt = new function () {
                function i(n) {
                    return t[n] || (t[n] = [])
                }

                var t = {}, n = this;
                n.fire = function (n) {
                    for (var r = i(n), u = r.e = arguments, t = 0; t < r.length; t++)r[t].d ? sb_st(sj_wf(r[t], u), r[t].d) : r[t](u)
                }, n.bind = function (n, t, r, u) {
                    var f = i(n);
                    t.d = u, f.push(t), r && f.e && t(f.e)
                }, n.unbind = function (n, i) {
                    for (var u = 0, r = t[n]; r && u < r.length; u++)if (r[u] == i) {
                        r.splice(u, 1);
                        break
                    }
                }
            };
            _G = {
                ST: (si_ST ? si_ST : new Date),
                Mkt: "en-WW",
                RTL: false,
                Ver: "9_00_0_2916619",
                IG: "742c07762e1a445fba4d2bbf050ad9a9",
                EventID: "46c5585859d54fc78d2c0aea1b48adf7",
                V: "homepage",
                P: "SERP",
                DA: "SGEv2",
                SUIH: "vrMnpXSR_jhtOYycga02-Q",
                gpUrl: "\/fd\/ls\/GLinkPing.aspx?"
            };
            _G.lsUrl = "/fd/ls/l?IG=" + _G.IG;
            curUrl = "https:\/\/www.bing.com:443\/";
            function si_T(a) {
                if (document.images) {
                    _G.GPImg = new Image;
                    _G.GPImg.src = _G.gpUrl + 'IG=' + _G.IG + '&' + a;
                }
                return true;
            };function si_PP(n, t) {
                var u, r, i;
                if (!_G.PPS) {
                    for (u = '"', r = ["PC", "FC", "BC", "BS", "H", "FE", "LE", "C1", "C2", "BP", "KP"], i = 0; i < r.length; i++)u += ',"' + r[i] + '":' + (_G[r[i] + "T"] ? _G[r[i] + "T"] - _G.ST : -1);
                    _G.PPImg = new Image, _G.PPImg.src = _G.lsUrl + '&Type=Event.CPT&DATA={"pp":{"S":"' + (t ? t : "L") + u + ',"CT":' + (n - _G.ST) + ',"IL":' + _d.images.length + (_w.sb_ppCPL ? ',"CP":1' : "") + "}}" + (_G.P ? "&P=" + _G.P : "") + (_G.DA ? "&DA=" + _G.DA : ""), _G.PPS = 1, sb_st(function () {
                        sj_evt.fire("onPP")
                    }, 1)
                }
            }
            _w.onbeforeunload = function () {
                si_PP(new Date, "A")
            };
            //]]></script>
            <style type="text/css">.idh {
                padding: 0;
                margin: 0;
                z-index: 951
            }

            .idd {
                display: none;
                z-index: 950;
                position: absolute;
                width: 230px;
                right: 5px
            }

            .img_uparrow {
                margin-left: 16px;
                z-index: 952;
                display: none
            }

            #id_t {
                white-space: nowrap;
                max-width: 150px;
                overflow: visible
            }

            #id_la {
                cursor: pointer
            }

            .idh a:hover {
                text-decoration: none
            }

            .idh .lt {
                cursor: pointer;
                height: 34px
            }

            .pic {
                vertical-align: middle;
                margin-left: 10px
            }

            .pic.si {
                height: 28px;
                width: 28px
            }

            .idh .lt #id_t {
                display: block
            }

            .idh .lt #id_s, #id_n {
                padding-left: 8px
            }

            .idh .lt #id_r {
                width: 74px;
                height: 13px;
                position: relative
            }

            .idh .lt #id_rc {
                line-height: 13px;
                position: absolute;
                top: 1px;
                left: 21px
            }

            .idh .pref {
                position: absolute;
                right: 15px;
                top: 48px;
                cursor: pointer
            }

            .img_downarrow {
                margin-left: 4px;
                vertical-align: middle;
                display: inline-block
            }

            .idh {
                position: absolute;
                top: 5px;
                right: 0;
                float: right
            }

            #id_t {
                margin-right: 20px
            }

            #id_d {
                right: 0
            }

            #id_d_u {
                margin: auto
            }

            .idh #id_l #id_r {
                padding-left: 14px;
                width: auto
            }

            #id_l {
                height: auto;
                margin-top: 5px;
                margin-right: 56px
            }

            .idh .lt #id_s, #id_n {
                padding-right: 3px
            }

            .idh #id_l #id_rc {
                line-height: normal;
                position: relative;
                left: 0
            }

            .sw_tb .idh .pref {
                top: 5px;
                right: 20px
            }

            .idh span {
                color: #999
            }

            .img_rwds_sml {
                display: inline-block;
                position: absolute;
                left: 0;
                top: 1px
            }

            a {
            }</style>
            <script type="text/javascript">//<![CDATA[
            function sj_wf(n) {
                var t = arguments;
                return function () {
                    n.apply(null, [].slice.apply(t).slice(1))
                }
            };function sj_be(n, t, i, r) {
                if ((n == _w || n == _d.body) && t == "load" && "undefined" != typeof _d.readyState && "complete" === _d.readyState) {
                    i();
                    return
                }
                n.addEventListener ? n.addEventListener(t, i, r) : n.attachEvent ? n.attachEvent("on" + t, i) : n["on" + t] = i
            }
            function sj_ue(n, t, i, r) {
                n.removeEventListener ? n.removeEventListener(t, i, r) : n.detachEvent ? n.detachEvent("on" + t, i) : n["on" + t] = null
            };function si_ct(n, t) {
                var u = "getAttribute", r, i, e;
                try {
                    for (; n !== _d.body; n = n.parentNode) {
                        if (r = n.tagName == "A" && n[u]("h") || n[u]("_ct"), r) {
                            i = n[u]("_ctf") || "si_T", _w[i] && _w[i]("&" + r);
                            break
                        }
                        if (t)break
                    }
                } catch (f) {
                }
                return !0
            }
            (function () {
                sj_be(_d, "mousedown", function (n) {
                    si_ct(sb_ie ? event.srcElement : n.target)
                }, 0)
            })();
            function sf_fbPce(n) {
                sj_evt.fire("xd:fba:proxyCheck", n)
            };function sj_gx() {
                return sb_i6 ? new ActiveXObject("MSXML2.XMLHTTP") : new XMLHttpRequest
            };function sj_pd(n) {
                sb_ie ? event.returnValue = !1 : n.preventDefault()
            };function sj_go(n, t, i) {
                for (var r = 0; n.offsetParent && n != (i || sj_b);)r += n["offset" + t], n = n.offsetParent;
                return r
            };function sj_ce(n, t, i) {
                var r = _d.createElement(n);
                return t && (r.id = t), i && (r.className = i), r
            };function sj_we(n, t, i) {
                while (n && n != (i || sj_b)) {
                    if (n == t)return !0;
                    n = n.parentNode
                }
                return !1
            };_w.sched = _w.sched || function () {
                    function f(n) {
                        i.push(n)
                    }

                    function e(n) {
                        return function () {
                            _w.sched.schedule(n)
                        }
                    }

                    function r(n) {
                        t.push(n)
                    }

                    function u(t, i) {
                        n[t] = i
                    }

                    var i = [], t = [], n = {};
                    return {register: f, wrapSchedule: e, schedule: r, reportCustomMetric: u, _ns: i, _reg: t, _cm: n}
                }();
            function sj_anim(n) {
                var t = this, s, u, h, o, r, f, c, i, e;
                t.init = function (n, o, h, l, a) {
                    s = n, r = o, f = h, c = l, e = a, i || (i = r), u || t.start()
                }, t.start = function () {
                    h = sb_gt(), o = Math.abs(f - r - i) / c * 25, u = setInterval(t.next, 25)
                }, t.stop = function () {
                    clearInterval(u), u = 0
                }, t.next = function () {
                    var u = sb_gt() - h;
                    i = r + (f - r) * u / o, u >= o && (t.stop(), i = f, e && e()), n(s, i)
                }
            };function sj_so(n, t) {
                n.style.filter = t >= 100 ? "" : "alpha(opacity=" + t + ")", n.style.opacity = t / 100
            };function sj_fader() {
                return new sj_anim(function (n, t) {
                    sj_so(n, t)
                })
            };function sj_jb(n, t) {
                function r(n, t, i, u) {
                    i && sj_ue(i, u, r), sj_evt.bind("onP1", function () {
                        if (!n.l) {
                            n.l = 1;
                            var i = sj_ce("script");
                            i.src = (t ? "/fd/sa/" + _G.Ver : "/sa/" + _G.AppVer) + "/" + n.n + ".js", sj_b.appendChild(i)
                        }
                    }, 1, 5)
                }

                for (var f = arguments, e, u, i = 2, o = {n: n}; i < f.length; i += 2)e = f[i], u = f[i + 1], sj_be(e, u, sj_wf(r, o, t, e, u));
                i < 3 && r(o, t)
            };function sj_ev(n) {
                return sb_ie ? event : n
            }
            function sj_et(n) {
                return sb_ie ? event.srcElement : n.target
            }
            function sj_mi(n) {
                return sb_ie ? event.fromElement : n.relatedTarget
            }
            function sj_mo(n) {
                return sb_ie ? event.toElement : n.relatedTarget
            };function sj_sp(n) {
                sb_ie ? n.cancelBubble = !0 : n.stopPropagation()
            };(function () {
                function i() {
                    --r < 1 && u.fire("onP1")
                }

                var r, n = 0, u = sj_evt, t = [];
                for (_w.si_PP && t.push("onPP"); n < t.length; n++)u.bind(t[r = n], i, 1);
                n || i()
            })();
            function lb() {
                function e(n) {
                    i = n[1], u.unbind(f, e)
                }

                var u = sj_evt, f = "onSbBusy", i, n, r, t;
                for (u.bind(f, e, 1), n = 1; n < 4; ++n)r = "sb_form" + (n > 1 ? n : ""), t = _ge(r), !t || i && _ge(r + "_q") == i || !t.reset || t.reset();
                _w.si_sendCReq && sb_st(si_sendCReq, 800), _w.lbc && lbc()
            }
            function init() {
            }
            (function () {
                var n = sj_evt, i = "onSbBusy", t = null;
                n.bind(i, function () {
                    sb_ct(t), t = sb_st(sj_wf(n.fire, "onSbIdle"), 1100)
                }), sj_be(_d, "keydown", function (t) {
                    n.fire(i, sj_et(t))
                })
            })(), sj_evt.bind("onHTML", function () {
                var n = _ge("sb_form");
                n && sj_be(n, "submit", sj_wf(sj_evt.fire, "onSearch", n))
            });
            //]]></script>
            <link href="https://www.bing.com:443/" rel="canonical">
            <style type="text/css">html {
                overflow: auto
            }

            a, body {
                font-family: "Segoe UI", Segoe, Tahoma, Arial, Verdana, sans-serif;
                font-size: small;
                text-decoration: none
            }

            a:hover {
                text-decoration: underline
            }

            html, body, #hp_table, #hp_cellCenter {
                height: 100%;
                width: 100%;
                border-collapse: collapse;
                margin: 0;
                padding: 0;
                background-color: #333;
                border: 0
            }

            #hp_cellCenter {
                vertical-align: middle;
                overflow: hidden
            }

            #hp_sw_hdr {
                position: absolute;
                top: 0;
                width: 100%
            }

            #sc_hdu {
                position: absolute;
                top: 0;
                height: 35px;
                line-height: 35px;
                bottom: 0
            }

            #sc_hdu li {
                zoom: 1;
                display: inline
            }

            #sc_hdu li a {
                vertical-align: middle;
                line-height: 35px !important;
                display: inline-block
            }

            #hp_bottomCell {
                position: absolute;
                bottom: 0;
                width: 100%
            }

            #hp_container {
                min-width: 1115px;
                max-width: 1366px;
                width: 100%;
                min-height: 562px;
                max-height: 768px;
                height: 100%;
                position: relative;
                margin: auto
            }

            * + html #hp_container {
                overflow: hidden
            }

            table, td {
                border-spacing: 0;
                border: 0;
                padding: 0
            }

            #bgDiv {
                position: absolute;
                top: 0;
                overflow: hidden;
                width: 100%;
                height: 100%;
                background-repeat: no-repeat;
                background-color: #666;
                -webkit-background-size: cover;
                -moz-background-size: cover;
                -o-background-size: cover;
                background-size: cover
            }

            .hp_text, .sc_pc li a, #sb_foot, #sb_foot li a, ul.hp_head_nav li a {
                font-weight: 400
            }

            .hp_text {
                font-size: 13px
            }

            #sb_foot, #hp_sw_hdr {
                height: 35px;
                background-color: #333;
                z-index: 9;
                width: 100%;
                position: relative;
                border: 0;
                padding: 0
            }

            #sc_hdu div, .sw_tb h3.sc_hl1, .sw_tb li {
                display: inline
            }

            #sw_footL, #sw_footL a {
                color: #666
            }

            #sw_footL #sb_feedback {
                color: #999
            }

            #sb_foot a, #sb_foot span {
                margin: 0 10px;
                zoom: 1
            }

            #sb_foot {
                overflow: hidden
            }

            #sw_footL {
                margin: 0;
                padding: 0;
                text-align: right;
                position: absolute;
                right: 20px;
                white-space: nowrap
            }

            #sw_footL li {
                line-height: 32px;
                height: 32px;
                display: inline;
                zoom: 1
            }

            .sw_tb {
                padding: 0;
                width: 100%;
                height: 35px;
                margin: 0;
                font-size: 13px
            }

            .sw_tb ul {
                margin: 0;
                padding: 0;
                padding-left: 8px
            }

            .sw_tb ul.sc_hl1 li a {
                zoom: 1
            }

            .sc_pc {
                top: 25px !important
            }

            #hp_sw_hdr li.sc_active {
                font-weight: 700;
                border-left: solid 1px #a8b1b7;
                border-right: solid 1px #a8b1b7;
                margin: 0;
                border: none
            }

            #hp_sw_hdr li.sc_active a {
                color: #ffa615
            }

            ul.hp_head_nav {
                padding-left: 3px
            }

            ul.hp_head_nav li a {
                margin-left: 15px;
                margin-right: 15px;
                color: #acacac
            }

            ul.hp_head_nav > li > a {
                text-transform: uppercase
            }

            .sh_hst {
                position: absolute;
                z-index: 4;
                visibility: hidden
            }

            .sh_hto {
                width: 39px;
                height: 39px;
                opacity: .4;
                filter: alpha(opacity=40);
                background: #000;
                padding: 1px
            }

            .sh_hto div {
                height: 37px;
                width: 37px;
                border: 1px solid #fff;
                float: left
            }

            a.sh_hs {
                color: #fff;
                text-decoration: none;
                position: absolute;
                display: block;
                cursor: pointer;
                z-index: 6;
                line-height: 1.4em;
                width: 205px;
                padding: 3px 8px 6px;
                visibility: hidden
            }

            a.sh_hs:hover {
                text-decoration: none
            }

            a.sh_hs p, a:visited.sh_hs p {
                margin: 0 0 .2em
            }

            .sh_hq {
                text-decoration: underline
            }

            .sh_hi {
                display: inline;
                font-size: medium;
                color: #ffa500
            }

            .sh_ho {
                width: 100%;
                position: absolute;
                top: 0;
                left: 0;
                z-index: -1;
                opacity: .6;
                filter: alpha(opacity=60);
                padding: 1px;
                background: #000
            }

            .sh_ho div {
                border: 1px solid #fff
            }

            #hp_tbar, #hp_bk {
                display: none
            }

            #thp_notf_div {
                position: fixed
            }

            .hidden {
                display: none !important
            }

            #hp_sw_hdr .sw_mktsw {
                position: relative;
                display: none;
                top: 0;
                float: right
            }

            #hp_sw_hdr .sw_mktsw a, #hp_sw_hdr .sw_mktsw span {
                color: #999;
                margin: 0 10px 0 9px;
                height: 35px;
                line-height: 35px
            }

            #hp_sw_hdr .pref {
                top: 8px
            }

            #hp_id_hdr #dhp {
                color: #acacac;
                position: relative;
                float: right;
                bottom: 0;
                display: block;
                visibility: hidden;
                padding-left: 5px;
                padding-right: 30px;
                height: 16px;
                line-height: 100%;
                top: 10px
            }

            #hp_container .sa_as {
                border-color: #e5e5e5
            }

            .hpcBkP, .hpcLogoWhite, .hpcNext, .hpcCopyInfo, .hpcPlay, .hpcPause, .hpcPrevious, .hpcFull, .hpcSmall, .sw_qbtn, .hpcExpand, .hpcClose, .hpcDown, .pref, .img_uparrow, .img_rwds_sml, .img_downarrow, .hpcCaroNavRight, .hpcCaroNavLeft, .sw_qbtn, .wpbClose {
                background: transparent url(/s/a/hpc12.png) no-repeat;
                overflow: hidden
            }

            .hpcNext, .hpcCopyInfo, .hpcPlay, .hpcPause, .hpcPrevious, .hpcFull, .hpcSmall, .hpcDown {
                width: 32px;
                height: 32px
            }

            .hpcLogoWhite {
                background-position: 0 0;
                margin: -7px 21px 0 0;
                width: 132px;
                height: 52px
            }

            .hpcNext {
                background-position: -160px -53px
            }

            .hpcCopyInfo {
                background-position: -64px -85px
            }

            .hpcPlay {
                background-position: 0 -85px
            }

            .hpcSmall {
                background-position: -64px -53px
            }

            .hpcDown {
                background-position: 0 -53px
            }

            .hpcFull {
                background-position: -32px -53px
            }

            .hpcPause {
                background-position: -32px -85px
            }

            .hpcPrevious {
                background-position: -192px -53px
            }

            .sw_qbtn {
                background-position: -224px -53px
            }

            .hpcCaroNavLeft, .hpcCaroNavRight {
                position: absolute;
                width: 17px;
                height: 26px
            }

            .hpcCaroNavRight {
                background-position: -222px -27px
            }

            .hpcCaroNavLeft {
                background-position: -205px -27px
            }

            .hpcExpand, .hpcClose {
                width: 32px;
                height: 32px
            }

            .hpcExpand {
                background-position: -128px -53px
            }

            .hpcClose {
                background-position: -96px -53px
            }

            .pref:hover {
                background-position: -187px -18px
            }

            .pref {
                background-position: -169px -18px;
                width: 18px;
                height: 18px
            }

            .img_uparrow {
                background-position: -174px -36px;
                width: 20px;
                height: 12px !important
            }

            .img_rwds_sml {
                background-position: -167px 0;
                width: 18px;
                height: 18px !important
            }

            .img_downarrow {
                background-position: -165px -36px;
                width: 9px;
                height: 6px
            }

            .hpcBkP {
                overflow: hidden;
                width: 74px;
                height: 32px;
                cursor: pointer;
                background-position: -96px -85px
            }

            .hpcBkP:hover {
                background-position: -171px -85px
            }

            .wpbClose {
                width: 16px;
                height: 16px;
                background-position: -132px -36px
            }

            .wpbClose:hover {
                background-position: -148px -36px
            }

            b {
                padding: 0
            }

            .hp_sw_logo {
                float: left;
                text-indent: -20em
            }

            .sw_sform {
                position: absolute;
                top: 20%;
                left: 8%;
                width: 1028px;
                margin: 0;
                z-index: 8
            }

            .sw_b .sw_qbtn {
                cursor: pointer;
                height: 37px;
                width: 37px;
                margin: 0 0 -14px;
                overflow: hidden;
                font-size: 0;
                border: 5px solid #ffb900;
                background-color: #ffb900
            }

            * + html .sw_b .sw_qbtn {
                color: #010101;
                filter: progid:DXImageTransform.Microsoft.Chroma(color=#000000)
            }

            #sbox .sw_qbox {
                width: 415px
            }

            .sb_form_align {
                top: 2.7em;
                left: 150px;
                position: absolute
            }

            .sb_form_align label, .sb_form_align a {
                color: #fff
            }

            .beta, .beta a {
                color: #bbb !important
            }

            .beta {
                position: absolute;
                top: 45px;
                left: 54px;
                width: 55px;
                height: 18px;
                overflow: hidden
            }

            .beta a {
                font-size: 12px
            }

            .sw_bd {
                position: relative;
                float: left;
                font-size: medium;
                z-index: 1;
                border: 1px #e5e5e5 solid
            }

            .sw_b {
                float: none;
                background: #fff;
                padding: .19em 3px 1.06em 0;
                height: 23px;
                position: relative
            }

            * + html .sw_b {
                width: 100%
            }

            .sw_b input {
                font-family: "Segoe UI", Segoe, Tahoma, Arial, Verdana, sans-serif;
                float: left;
                border: 0;
                font-size: 18px;
                margin: 5px 5px -1em 9px;
                width: 375px;
                -webkit-appearance: none;
                outline: none;
                padding: 0;
                height: 27px
            }

            #sw_filt {
                margin-top: 10px
            }

            #sw_filt input {
                margin-right: 2px;
                zoom: 1
            }

            #sw_filt label {
                display: inline-block;
                text-shadow: 1px 1px 1px #565656;
                padding-right: 1em
            }

            .ie8l #sw_filt label, .ie9 #sw_filt label {
                filter: progid:DXImageTransform.Microsoft.Blur(pixelradius=0);
                height: 1.4em
            }

            #id_h {
                height: 35px;
                top: auto;
                position: relative;
                bottom: 3px
            }

            .sw_tb div.idp_fb, .sw_tb div.idp_wlid {
                height: 24px
            }

            .sw_tb .idh .pref {
                right: 18px;
                top: 12px !important
            }

            .sw_tb .idp div {
                line-height: normal;
                font-variant: normal;
                height: auto
            }

            .idh {
                _padding-top: 3px
            }

            .idh span {
                color: #acacac;
                font-weight: 400
            }

            .img_rwds_sml {
                margin-top: 2px;
                top: 3px !important
            }

            table #id_l {
                margin-top: 0
            }

            #id_lt {
                height: 35px
            }

            #id_r {
                display: none !important;
                margin-right: 22px;
                margin-top: 2px;
                height: 22px !important
            }

            #id_r.visible {
                display: block !important
            }

            #id_rc {
                top: 5px !important;
                left: 7px !important
            }

            #id_t span {
                line-height: 100%
            }

            #id_dt, #id_dt span, #id_dt a {
                white-space: normal
            }

            #hp_sw_hdr #id_d_u {
                display: none;
                position: relative;
                top: -7px;
                float: right
            }

            #id_rc, .idd a, .idd div {
                font-size: 13px
            }

            #hp_sw_hdr #id_dt .rule {
                height: auto
            }

            #id_t {
                margin-top: 6px;
                margin-right: 11px;
                height: auto
            }

            #id_la {
                cursor: pointer
            }

            #id_dt {
                border: none
            }

            #bep {
                margin-right: 20px;
                height: 12px
            }

            #bep .cnton {
                margin-right: 4px
            }

            #bep_cnt {
                color: #ccc
            }

            #hp_ctrls {
                height: 60px;
                -webkit-user-select: none;
                -moz-user-select: none;
                -ms-user-select: none;
                user-select: none
            }

            #sh_rdiv {
                position: absolute;
                right: 40px;
                top: 15px
            }

            #sh_rdiv a > div {
                position: relative;
                margin: 0 5px
            }

            #sh_rdiv a {
                position: relative;
                float: left;
                display: block;
                text-decoration: none;
                cursor: default;
                outline: none
            }

            #sh_rdiv a:hover, #sh_rdiv a:hover span {
                visibility: visible
            }

            #sh_igl > div, #sh_igr > div, #sh_igf > div {
                visibility: hidden;
                cursor: pointer
            }

            #sh_rdiv .sc_lightdis div {
                cursor: default;
                opacity: .5;
                filter: alpha(opacity=30)
            }

            #sw_fbl {
                border: 0;
                overflow: hidden;
                position: absolute;
                width: 110px;
                height: 20px;
                top: 50px;
                right: 0;
                display: inline-block
            }

            #btn_fb-like {
                border: 0;
                position: absolute;
                width: 95px;
                height: 20px;
                top: 55px;
                right: 0;
                display: block;
                opacity: 0;
                filter: alpha(opacity=0)
            }

            .fb_edge_widget_with_comment, #btn_fb-like span {
                z-index: 8 !important
            }

            .btn_fb-like_show {
                opacity: 1;
                filter: alpha(opacity=100)
            }

            #sh_pl, #sh_ps {
                display: none;
                cursor: pointer
            }

            .hp_vid #sc_mktb {
                display: none
            }

            #vid {
                display: none
            }

            .hp_vid #vid {
                display: block
            }

            #hp_vidwrp {
                width: 100%;
                height: 100%;
                position: absolute;
                background: #fff;
                opacity: 0;
                filter: alpha(opacity=0)
            }

            #sb_foot {
                _display: inline;
                _zoom: 1
            }

            #sw_footL {
                margin: 0;
                padding: 0;
                position: absolute;
                right: 20px;
                white-space: nowrap
            }

            #sw_footL a {
                color: #666
            }

            #sb_foot ul {
                display: block
            }

            #sb_foot li {
                display: inline
            }

            #sb_foot a, #sb_foot span {
                margin: 0 10px
            }

            a #sb_feedback {
                color: #1020d0
            }

            #sw_ctfm {
                margin: 15px 0 0 10px;
                float: left
            }</style>
            <script type="text/javascript">//<![CDATA[
            function sj_ev(n) {
                return sb_i8l ? event : n
            }
            function sj_et(n) {
                return sb_i8l ? event.srcElement : n.target
            }
            function sj_mi(n) {
                return sb_i8l ? event.fromElement : n.relatedTarget
            }
            function sj_mo(n) {
                return sb_i8l ? event.toElement : n.relatedTarget
            }
            function sj_so(n, t) {
                if (sb_i8l && n.filters && n.filters.item)try {
                    n.filters.item("DXImageTransform.Microsoft.Alpha").opacity = t
                } catch (i) {
                    n.style.filter = "alpha(opacity=" + t + ")"
                }
                n.style.opacity = t / 100
            }
            function hp_pushparams(n) {
                return _w.location.search.length > 1 && n.push && n.push(_w.location.search.substring(1)), n
            }
            function hp_defined(n) {
                return typeof n != "undefined"
            }
            var sb_i9p = sb_ie && typeof sb_de.style.opacity != "undefined", sb_i8l = sb_ie && !sb_i9p;
            function hasQuery(n) {
                return n.value.replace(/\s+/gi, "") != ""
            }
            function qs(n) {
                if (_w.encodeURIComponent) {
                    var t = n.href.replace(/&amp;/g, "&"), i = encodeURIComponent(_ge("sb_form_q").value);
                    n.href = t.indexOf("q=") != -1 ? t.replace(new RegExp("q=[^&$]*"), "q=" + i) : t.indexOf("where1=") != -1 ? t.replace(new RegExp("where1=[^&$]*"), "where1=" + i) : t + (t.indexOf("?") < 0 ? "?" : "&") + "q=" + i
                }
                return 1
            }
            function selectScope(n, t) {
                hasQuery(_ge("sb_form_q")) && (n.href = _scopeUrls[t], qs(n))
            }
            _scopeUrls = [];
            //]]></script>
            <title>Bing</title>
            <link href="/s/a/bing_p.ico" rel="icon">
            <meta content="Bing is a search engine that finds and organizes the answers you need so you can make faster, more informed decisions."
                  name="description">
            <meta content="NOODP" name="ROBOTS"><!-- FD: 688ED29483F6772C668828805AEB3511 -->
            <style>#sw_as {
                position: relative;
                clear: both;
                display: none
            }

            .sa_as {
                display: none;
                position: absolute;
                border-width: 1px;
                border-style: solid;
                border-color: #999;
                background: #fff;
                -webkit-backface-visibility: hidden;
                width: 100%
            }

            #sa_ul {
                font-size: medium
            }

            .sa_as ul {
                list-style: none
            }

            .sa_drw {
                padding: 0;
                background: #fff;
                margin: 0
            }

            .sa_drw li {
                display: block;
                white-space: nowrap
            }

            .sa_sg {
                padding: .2em .55em .21em .55em;
                color: #777;
                cursor: pointer;
                clear: left
            }

            .sa_sg_first {
                padding-top: .5em
            }

            .sa_hd, .sa_hd_first {
                padding: .6em 0 .1em .55em;
                margin: .25em .2em 0 0;
                border-top: 1px solid #ededed;
                text-transform: uppercase;
                color: #666;
                cursor: default;
                clear: left;
                font-size: small
            }

            .sa_hd_first {
                margin-top: 0;
                padding-top: .6em;
                border: 0
            }

            .sa_2RowImg {
                background: #f8f8f8;
                border-top: 1px solid #999;
                padding: .4em .55em
            }

            .sa_ds {
                color: #737373;
                margin-top: .2em;
                font-size: 90%
            }

            .sa_img {
                vertical-align: middle;
                margin: -.2em .4em .1em 0
            }

            .sa_2RowImg .sa_img {
                text-align: center;
                float: left
            }

            .sa_img img {
                max-width: 55px;
                max-height: 45px
            }

            .sa_sgDN .sa_tm {
                font-weight: bold
            }

            .sa_2RowImg, .sa_sgDN {
                color: #04c
            }

            .sa_sg strong, .sa_sgWH, .sa_sgWM, .sa_sgWU {
                color: #000
            }

            #sw_as .sa_tmHS, .sa_tmHS strong {
                color: #639
            }

            .sa_sgPN {
                color: #737373
            }

            .sa_sgDN .sa_url {
                color: #568e1a;
                font-size: 85%;
                border-bottom: 1px solid #ededed;
                padding: .2em 0 .4em 0
            }

            .sa_om {
                background: #f5f5f5;
                border-top: 1px solid #999;
                font-size: 75%;
                height: 1.6em;
                line-height: 1.6em;
                padding: .16em 0 .2em 0
            }

            .sa_om a {
                color: #36b
            }

            .sa_om li {
                float: left;
                margin-left: 1.3em
            }

            .sa_om ul {
                margin: 0 .5em;
                padding: 0;
                float: right
            }

            .sa_hv .sa_tm, .sa_om a:hover {
                text-decoration: underline
            }

            .sa_sgDI, .sa_sgWM, .sa_sgWH, .sa_sgWU {
                padding-left: .55em
            }

            .sa_sgWM .sa_tm, .sa_sgWU .sa_tm {
                font-size: 110%
            }

            .sa_sgFB {
                margin-top: 0;
                position: relative
            }

            .sa_sgFB .sa_ds {
                margin-left: .35em
            }

            .sa_sgFB_img .sa_tm {
                margin-right: .2em
            }

            .sa_sgFB_img .sa_ds {
                margin-left: 2em
            }

            .sa_sgFB .sa_img {
                margin: 0
            }

            .sa_sgFB img {
                position: absolute;
                top: 0
            }

            .sa_sgFB.sa_sg_first img {
                top: .3em
            }

            .sa_hv {
                background: #e5e5e5
            }

            #hp_container .sw_sform {
                z-index: 8
            }

            .sa_sgID .sa_tm {
                font-family: Lucida Sans Unicode
            }

            .sa_sgID {
                *zoom: 1;
                *margin-bottom: -8px
            }

            #hp_container .sa_as {
                border-color: #ccc
            }

            #hp_container .sa_om {
                border-top-color: #ccc
            }

            #hp_container .sa_2RowImg {
                border-color: #ccc
            }</style>
        </head>
        <body class=" en en-ww wkit" onload="hpResize(_ge('bgDiv'));_ge('sb_form_q').focus();if(_w.lb)lb();">
        <script type="text/javascript">//<![CDATA[
        _G.PCT = new Date
        //]]></script>
        <script type="text/javascript">//<![CDATA[
        _G.BCT = new Date
        //]]></script>
        <script type="text/javascript">//<![CDATA[
        sj_b = _d.body;
        var wlc_d = 1500, wlc_t = 63537197005;
        ;
        //]]></script>
        <script type="text/javascript">//<![CDATA[
        _G.AppVer = "8_01_1_2938701";
        var g_vidOn = 0;
        var g_hasVid = 0;
        var g_hasTb = 0;
        var g_HPRMSAOL = 0;
        var g_IMVL = 0;
        var g_NPLE = 0;
        var g_hptse = 1;
        ;
        //]]></script>
        <table id="hp_table">
            <tbody>
            <tr>
                <td id="hp_cellCenter">
                    <div id="hp_container">
                        <div id="bgDiv"
                             style="height: 720px; width: 1280px; top: -52.5px; left: 0px; opacity: 1; background-image: url(https://www.bing.com/az/hprichbg/rb/ZalophusCalifornianus_ROW12150343982_1366x768.jpg); visibility: visible;"
                             class=" sw_imLd">
                            <div id="hp_vidwrp"></div>
                            <video id="vid" onended="VM.pause();" autobuffer="" preload="auto"
                                   oncontextmenu="return false"
                                   style="height: 720px; width: 1280px; top: -52.5px; left: 0px;"></video>
                        </div>
                        <div id="sbox" class="sw_sform">
                            <div class="hp_sw_logo hpcLogoWhite">Bing</div>
                            <div class="search_controls">
                                <form action="/search" class="sw_box" id="sb_form"
                                      onsubmit="return si_T('&amp;ID=FD,6.1');">
                                    <div class="sw_bd">
                                        <div class="sw_b"><input class="sw_qbox" id="sb_form_q" maxlength="1000"
                                                                 name="q" title="Enter your search term" type="text"
                                                                 value="" autocomplete="off"><span
                                                class="sw_dvdr"></span><input class="sw_qbtn sw_sb" id="sb_form_go"
                                                                              name="go" tabindex="0" title="Search"
                                                                              type="submit" value=""></div>
                                        <input id="sa_qs" name="qs" type="hidden" value="bs">
                                        <div id="sw_as" style="display: block;">
                                            <div class="sa_as">
                                                <ul id="sa_ul" class="sa_drw"></ul>
                                                <div class="sa_om">
                                                    <ul>
                                                        <li><a href="/account/general?ru=%2f&amp;sh=4">Preferences</a>
                                                        </li>
                                                        <li>
                                                            <a href="https://onlinehelp.microsoft.com/en-ww/bing/ff808490.aspx">What's this?</a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <input name="form" type="hidden" value="QBLH">
                                    <div class="sb_form_align"></div>
                                </form>
                            </div>
                        </div>
                        <div id="hpmvc_marker"></div>
                        <div id="hp_sw_hdr" class="hp_hor_hdr">
                            <div class="sw_tb">
                                <ul id="sc_hdu" class="sc_hl1 hp_head_nav">
                                    <li id="scpt0" class="sc_active"><a href="/?scope=web&amp;FORM=Z9LH"
                                                                        onclick="selectScope(this, 'web');"
                                                                        h="ID=SERP,5009.1">Web</a>
                                        <div id="scpc0"></div>
                                    </li>
                                    <li id="scpt1" class=""><a href="/?scope=images&amp;FORM=Z9LH1"
                                                               onclick="selectScope(this, 'images');"
                                                               h="ID=SERP,5010.1">Images</a>
                                        <div id="scpc1"></div>
                                    </li>
                                    <li id="scpt2" class=""><a href="/?scope=video&amp;FORM=Z9LH2"
                                                               onclick="selectScope(this, 'video');"
                                                               h="ID=SERP,5011.1">Videos</a>
                                        <div id="scpc2"></div>
                                    </li>
                                    <li id="scpt3" class=""><a href="/news?FORM=Z9LH3"
                                                               onclick="selectScope(this, 'news');"
                                                               h="ID=SERP,5012.1">News</a>
                                        <div id="scpc3"></div>
                                    </li>
                                    <li id="scpt4" class=""><a href="/explore?FORM=Z9LH4"
                                                               onclick="selectScope(this, 'seeall');"
                                                               h="ID=SERP,5013.1">More</a>
                                        <div id="scpc4"></div>
                                    </li>
                                    <li id="msn"><a href="http://www.msn.com/" h="ID=SERP,5000.1">MSN</a></li>
                                    <li id="outlook"><a href="http://mail.live.com/?mkt=en-ww"
                                                        h="ID=SERP,5001.1">Outlook.com</a></li>
                                </ul>
                                <div id="hp_id_hdr">
                                    <div class="idh nosp" id="id_h" style="display: block;">
                                        <table class="lt" id="id_l" _ct="ID=PJ,1.1">
                                            <tbody>
                                            <tr id="id_lt">
                                                <td><a href="javascript:void(0);" id="id_la">
                                                    <div id="id_t"><span id="id_n" style="display:none"></span><span
                                                            id="id_s">Sign in</span><span id="id_a"
                                                                                          class="img_downarrow sw_ddb sw_ddgy">&nbsp;&nbsp;</span>
                                                    </div>
                                                </a></td>
                                                <td></td>
                                            </tr>
                                            <tr>
                                                <td colspan="2">
                                                    <div class="img_uparrow sw_beak" id="id_d_u"></div>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                        <a href="/account/general?ru=https%3a%2f%2fwww.bing.com%2f&amp;FORM=SEFD"
                                           class="pref sw_pref" title="Preferences" _ct="ID=PJ,2.1"></a></div>
                                    <div id="sw_tfbb"></div>
                                    <span class="idd nosp" id="id_d" _iid="PJ.5" style="top: 35px;"></span></div>
                            </div>
                        </div>
                        <div id="hp_bottomCell">
                            <div id="hp_ctrls">
                                <div id="sh_rdiv"><a href="javascript:void(0)" class="sh_psl" onclick="VM.pauseAction()"
                                                     tabindex="-1" title="Pause" h="ID=SERP,5024.1">
                                    <div id="sh_ps" class="hpcPause"></div>
                                </a><a href="javascript:void(0)" class="sh_pll" onclick="VM.playAction()" tabindex="-1"
                                       title="Play" h="ID=SERP,5023.1">
                                    <div id="sh_pl" class="hpcPlay"></div>
                                </a><a href="?FORM=HYLH#" id="sh_igf" title="Full Screen" h="ID=SERP,5027.1">
                                    <div id="sh_fu" class="hpcFull" style="visibility: visible;"></div>
                                </a><a href="?FORM=HYLH1#" id="sh_igl" title="Previous" h="ID=SERP,5026.1">
                                    <div class="sc_light" style="visibility: visible;">
                                        <div class="hpcPrevious"></div>
                                    </div>
                                </a><a href="?FORM=HYLH2#" id="sh_igr" title="Next" h="ID=SERP,5025.1">
                                    <div class="sc_lightdis" style="visibility: visible;">
                                        <div class="hpcNext"></div>
                                    </div>
                                </a><a href="javascript:void(0)" class="sc_light" id="sh_cp"
                                       title="A young Galápagos sea lion on South Plaza Island, Galápagos archipelago, Ecuador (© Michael Durham/Tandem Stock)"
                                       h="ID=SERP,5021.1" style="cursor: default;">
                                    <div>
                                        <div id="sh_cp_in" class="hpcCopyInfo"></div>
                                    </div>
                                </a></div>
                            </div>
                            <div>
                                <div id="hp_notf"></div>
                                <div id="hp_tbar"></div>
                            </div>
                            <div id="sb_foot">
                                <ul id="sw_footL">
                                    <li><span>© 2014 Microsoft</span> |</li>
                                    <li><a href="https://go.microsoft.com/fwlink/?LinkId=248686&amp;CLCID=0409"
                                           h="ID=SERP,5033.1">Privacy and Cookies</a> |
                                    </li>
                                    <li><a href="https://go.microsoft.com/fwlink/?LinkID=246338&amp;CLCID=0409"
                                           h="ID=SERP,5034.1">Legal</a> |
                                    </li>
                                    <li><a href="https://go.microsoft.com/?linkid=9844325"
                                           h="ID=SERP,5035.1">Advertise</a> |
                                    </li>
                                    <li> |</li>
                                    <li><a href="https://onlinehelp.microsoft.com/en-ww/bing/ff808535.aspx" id="sb_help"
                                           target="_blank" h="ID=SERP,5036.1">Help</a> |
                                    </li>
                                    <li><a href="#" id="sb_feedback" h="ID=SERP,5037.1">Feedback</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
        <prefetchresources>
            <script type="text/javascript">//<![CDATA[
            _G.BST = new Date
            //]]></script>
            <script type="text/javascript">//<![CDATA[
            sj_cook = new function () {
                var n = this;
                n.get = function (n, t) {
                    var i = _d.cookie.match(new RegExp("\\b" + n + "=[^;]+")), r;
                    return t && i ? (r = i[0].match(new RegExp("\\b" + t + "=([^&]*)")), r ? r[1] : null) : i ? i[0] : null
                }, n.set = function (t, i, r, u, f, e) {
                    var c, l = i + "=" + r, h = n.get(t), o, s, a;
                    h ? (o = n.get(t, i), c = o ? h.replace(i + "=" + o, l) : h + "&" + l) : c = t + "=" + l, s = location.hostname.match(/([^.]+\.[^.]*)$/), a = e && e > 0 ? e * 6e4 : 63072e6, _d.cookie = c + (s ? ";domain=" + s[0] : "") + (u ? ";expires=" + new Date(+new Date + Math.min(a, 63072e6)).toGMTString() : "") + (f ? ";path=" + f : "")
                }
            };
            var Identity = Identity || {};
            (function (n, t, i, r, u, f, e, o, s, h) {
                s.fbProfile = function () {
                    var e = "FBS", f = n(e, "N"), u = n(e, "FN"), r = n(e, "I"), i = n(e, "IB"), o;
                    return f ? (f = t(f), u && (u = t(u)), r && (r = t(r)), i && (i = t(i)), o = "/fd/s/a/anon.png", r || (r = o), i || (i = o), u || (u = f), {
                        displayName: f,
                        name: u,
                        img: r,
                        imgL: i,
                        idp: "FB"
                    }) : null
                }, s.wlProfile = function () {
                    var u = "WLS", r = n(u, "N"), i = n(u, "C");
                    return r && i && s.wlImgSm && s.wlImgLg ? {
                        displayName: t(r),
                        name: t(r),
                        img: s.wlImgSm.replace(/\{0\}/g, o(i)),
                        imgL: s.wlImgLg.replace(/\{0\}/g, o(i)),
                        idp: "WL"
                    } : null
                }, s.headerLoginMode = 0, s.popupAuthenticate = function (n, t, r) {
                    var e, h, u, f;
                    return (e = s.popupLoginUrls) && (h = e[n] + (t ? "&perms=" + o(t) : "") + (r ? "&src=" + o(r) : "")) && (u = s.pop(h)) && (f = setInterval(function () {
                            u.closed && (i.fire("id:popup:close"), clearInterval(f))
                        }, 100))
                }, s.pop = function (n) {
                    return f.open(n, "idl", "location=no,menubar=no,resizable=no,scrollbars=yes,status=no,titlebar=no,toolbar=no,width=1000,height=620")
                };
                var y = 0, c = e("id_h"), a = e("id_d"), p = e("id_l"), w = e("hp_sw_hdr"), k = e("id_la"), b = "click",
                    l = "px", v = function () {
                        if (c && a)if (w) a.style.top = y + w.clientHeight + l; else {
                            var n = _d.body.clientWidth - c.clientWidth;
                            h ? c.style.right = n + l : c.style.left = n + l, h ? a.style.right = n + 5 + l : a.style.left = n + 5 + l, a.style.top = y + 85 + l
                        }
                    };
                i.bind("onP1", function () {
                    setTimeout(function () {
                        c && p && (u("FdNetIdentityDropdown_c", 1, c, "mouseover", p, b, k, "focus"), r(p, b, function (n) {
                            s.hdrClk = n
                        })), r(f, "resize", v), r(f, "scroll", v), i.bind("sw_width:top_changed", function (n) {
                            y = n[1], v()
                        }, 1), c.style.display = "block", v()
                    }, 50)
                })
            })(sj_cook.get, decodeURIComponent, sj_evt, sj_be, sj_jb, _w, _ge, encodeURIComponent, Identity, _G.RTL);
            (function () {
                if (sj_evt && Identity) {
                    var n = function () {
                        var r = _ge("id_n"), n = _ge("id_p"), u = _ge("id_s"), i, t, e, f;
                        r && u && ((i = Identity.fbProfile()) || (i = Identity.wlProfile()) || (i = Identity.twProfile())) ? (t = i.displayName, e = i.img, n && (n.title = t, n.src = e, n.style.display = "inline"), t.length > 10 && (t = t.substring(0, 10).replace(/\s+$/, "") + "…"), r.textContent = t, r.innerText = t, r.style.display = "inline", u.style.display = "none", i.idp == "WL" && (f = "url(/fd/s/a/anon.png)", n && (n.style.backgroundImage = f))) : r && u && (r.style.display = "none", n && (n.style.display = "none"), u.style.display = "inline")
                    };
                    sj_evt.bind("fb:connected", n, 1), sj_evt.bind("wl:auth", n, 1), sj_evt.bind("fb:auth", n, 1)
                }
            })();
            var Identity = Identity || {};
            (function (i) {
                i.twProfile = function () {
                    return null;
                };
                i.wlImgSm = "http\x3a\x2f\x2fcid-\x7b0\x7d.users.storage.live.com\x2fusers\x2f0x\x7b0\x7d\x2fmyprofile\x2fexpressionprofile\x2fprofilephoto\x3aUserTileStatic\x2fp\x3fck\x3d1\x26ex\x3d720\x26fofoff\x3d1\x26sid\x3d";
                i.wlImgLg = "http\x3a\x2f\x2fcid-\x7b0\x7d.users.storage.live.com\x2fusers\x2f0x\x7b0\x7d\x2fmyprofile\x2fexpressionprofile\x2fprofilephoto\x3aUserTileMedium\x2fp\x3fck\x3d1\x26ex\x3d720\x26fofoff\x3d1\x26sid\x3d";
                i.popupLoginUrls = {"WindowsLiveId": "https\x3a\x2f\x2flogin.live.com\x2flogin.srf\x3fwa\x3dwsignin1.0\x26rpsnv\x3d12\x26ct\x3d1401600205\x26rver\x3d6.0.5286.0\x26wp\x3dMBI\x26wreply\x3dhttps\x3a\x252F\x252Fwww.bing.com\x252Fsecure\x252FPassport.aspx\x253Fpopup\x253D1\x2526ssl\x253D1\x26lc\x3d1033\x26id\x3d264960"};
            })(Identity);
            ;(function (n, t) {
                if (t) {
                    var r = !1, i = function () {
                        !r && (r = !0) && sj_jb("WindowsLiveConnect_c", 1)
                    };
                    n.bind("onP1", function () {
                        var r = setTimeout(i, t);
                        n.bind("fb:connecting", function () {
                            clearTimeout(r), n.bind("fb:connected", i, 1)
                        }, 1)
                    }, 1)
                }
            })(sj_evt, wlc_d);
            sf_fbPce({allowFB: 1, dis: 1});
            ;function sj_ic(n) {
                var t = sj_ce("style");
                _d.getElementsByTagName("head")[0].appendChild(t), t.textContent !== undefined ? t.textContent = n : t.styleSheet.cssText = n
            };_w.RmsLoaderConfig = {name: "rmsloaderdelayed"};
            (function () {
                _w.rms = _w.rms || function () {
                        var t = [], n = [], u = function () {
                            return t.push(arguments), _w.rms
                        }, r = function () {
                            return n.push(arguments), _w.rms
                        }, i = function () {
                            var n = sj_ce("script");
                            n.src = "/fd/sa/" + _G.Ver + "/" + _w.RmsLoaderConfig.name + ".js", sj_b.appendChild(n)
                        };
                        return {onload: u, js: r, start: i, onloadargs: t, jsargs: n}
                    }()
            })();
            sj_evt.bind("onP1", function () {
                _w.rms.start()
            }, 1, 50);
            sj_evt.fire("onHTML");
            //]]></script>
            <script type="text/javascript">//<![CDATA[
            var _anim = function (n, t, i, r, u, f, e, o) {
                var a = "ease-in", v = "ease-in-out", y = "ease", s = function (n) {
                    return typeof n != "undefined"
                }, h = function () {
                    var n = function (n, t, i, r, u) {
                        var f = t / i;
                        return r + u * f * f * f
                    }, t = function (n, t, i, r, u) {
                        var f = t / i - 1;
                        return r + u * (f * f * f + 1)
                    }, i = function (n, t, i, r, u) {
                        var f = t / (i / 2);
                        return f < 1 ? r + u / 2 * f * f * f : (f -= 2, r + u / 2 * (f * f * f + 2))
                    };
                    return {
                        In: {css3TransitionName: a, fallbackScript: n},
                        Out: {css3TransitionName: v, fallbackScript: i},
                        InOut: {css3TransitionName: y, fallbackScript: t}
                    }
                }(), l = function (u, f, o, l, a) {
                    var st = a.unit || "", d = a.duration || 500, v = d, bt = "string", wt = "transition",
                        b = "Transition", ft = "End", w = a.easing || h.InOut, p = wt, ot, et,
                        ut = typeof f === bt && f, yt = typeof f == "function" && f, nt = u.style, rt, it, tt, y, k,
                        g = ut && ut.replace(/-(\w)/g, function (n, t) {
                                return t.toUpperCase()
                            }), kt = function () {
                            at(), ht(1), rt && rt()
                        }, ht = function (i) {
                            var r = i ? t : n;
                            r(u, et, kt)
                        }, ct = function (n) {
                            it = n, g ? nt[g] = n + st : yt && yt(u, n)
                        }, lt = function () {
                            var n;
                            if (!g || !w.css3TransitionName)return !1;
                            var u = i || r, f = u.style, e = "ms " + w.css3TransitionName + " 0s",
                                t = ["ms", "Webkit", "O"], o = ["MS" + b + ft, "webkit" + b + ft, "o" + b + ft];
                            for (n = 0; n < t.length; n++)if (p = t[n] + b, s(f[p]))return ot = ut + " " + v + e, et = o[n], !0;
                            return !1
                        }, at = function () {
                            nt[p] = ""
                        }, dt = function () {
                            nt[p] = ot
                        }, vt = function (n, t) {
                            rt = n, dt(), ht(), c(function () {
                                nt[g] = t + st
                            }, 1)
                        }, pt = function () {
                            function h(u, s) {
                                f !== s && (t && it ? (v = e() - i, y = it, k = s === n ? l : o) : (v = d, s === n ? (y = o, k = l) : (y = l, k = o)), tt = k - y, f = s, r = u, i = e(), c(a, 5), t = !0)
                            }

                            function a() {
                                var n = e() - i;
                                n >= v ? (ct(w.fallbackScript(u, v, v, y, tt)), t = !1, r && r()) : (ct(w.fallbackScript(u, n, v, y, tt)), c(a, 5))
                            }

                            var n = 1, p = 2, f = 0, t = !1, i, r;
                            return {
                                start: function (t) {
                                    h(t, n)
                                }, revert: function (n) {
                                    h(n, p)
                                }, updateDur: function (n) {
                                    s(n) && (v = d = n)
                                }
                            }
                        }, gt = {
                            start: function (n) {
                                vt(n, l)
                            }, revert: function (n) {
                                vt(n, o)
                            }, updateDur: function (n) {
                                at(), s(n) && (v = d = n), lt()
                            }
                        };
                    return lt() ? gt : pt()
                }, c = function () {
                    return _w.requestAnimationFrame || _w.webkitRequestAnimationFrame || _w.mozRequestAnimationFrame || _w.oRequestAnimationFrame || _w.msRequestAnimationFrame || function (n) {
                            f(n, 16.7)
                        }
                }(), p = function (n, t, i, f, e) {
                    function a(t) {
                        n && n.style && (n.style.visibility = t ? "hidden" : "visible")
                    }

                    var p = o && !s(r.style.opacity) ? function (n, t) {
                            u(n, t * 100)
                        } : "opacity", v = s(f) && f || 0, y = s(e) && e || 1, w = s(i) && i || s(t) && t,
                        c = l(n, p, v, y, {duration: t, ease: h.In});
                    return {
                        up: function (n) {
                            v === 0 && a(!1), c.updateDur(t), c.start(function () {
                                y === 0 && a(!0), n && n()
                            })
                        }, down: function (n) {
                            y === 0 && a(!1), c.updateDur(w), c.revert(function () {
                                v === 0 && a(!0), n && n()
                            })
                        }, updateDur: c.updateDur
                    }
                };
                return {animE: l, fadeE: p, ease: h}
            }(sj_be, sj_ue, sj_b, sb_de, sj_so, sb_st, sb_gt, sb_ie);
            (function (n, t, i) {
                function f() {
                    !u.end && s === h && s > 0 && i(b, 0)
                }

                function o(n) {
                    if (n && n.length)return r[n] || (r[n] = {start: 0, end: 0, actual: 0, done: 0}, s++), r[n]
                }

                function y() {
                    var t = [], n;
                    for (n in r)r.hasOwnProperty(n) && (t.push(n), u.actual += r[n].actual);
                    return t.sort(function (n, t) {
                        return r[t].actual - r[n].actual
                    }), t
                }

                function p() {
                    var f = [], e = 0, t = y(), i, n, u;
                    if (t.length > 0)do if (i = t.shift(), n = r[i], !(n.start < _G.ST)) {
                        if (u = '"' + i + '":{"S":' + (n.start - _G.ST) + ',"E":' + (n.end - _G.ST) + ',"T":' + n.actual + "}", e += u.length + 1, e >= v)break;
                        f.push(u)
                    } while (t.length > 0);
                    return f.join(",")
                }

                function w() {
                    function r(n) {
                        return n = n.toString().replace(/\"/g, "'"), '"' + n + '"'
                    }

                    var i = [], t, n;
                    for (t in e)e.hasOwnProperty(t) && (n = e[t], typeof n != "number" && (n = r(n)), i.push(r(t) + ":" + n));
                    return i.join(",")
                }

                function b() {
                    u.end || (u.end = new Date, (new Image).src = _G.lsUrl + '&Type=Event.PPT&DATA={"S":' + (u.start - _G.ST) + ',"E":' + (u.end - _G.ST) + ',"T":' + u.actual + ',"I":' + u.numInvalid + ',"N":{' + p() + '},"M":{' + w() + "}}" + (_G.P ? "&P=" + _G.P : "") + (_G.DA ? "&DA=" + _G.DA : ""))
                }

                function k(n) {
                    var t = r[n];
                    t && !t.done && (t.done = 1, h++, f())
                }

                function l(n) {
                    var r = n.task;
                    if (r) {
                        var u = r, t = n.ns, f = n.delay || 0;
                        if (t && t.length > 0) {
                            c(t);
                            function e() {
                                var i = new Date, n;
                                r(), n = new Date, a(t, i, n)
                            }

                            u = e
                        }
                        f > 0 ? i(u, f) : u()
                    }
                }

                function a(n, t, i) {
                    var r, e;
                    (f(), r = o(n), r) && (e = i - t, (e < 0 || i < r.end || r.start && t < r.start) && ++u.numInvalid, r.actual += e, r.start || (r.start = t), r.end = i)
                }

                function c(n) {
                    f(), o(n)
                }

                function d(n, t) {
                    f(), e[n] = t
                }

                var u = {start: new Date, end: 0, actual: 0, numInvalid: 0}, r = {}, s = 0, h = 0, e = t._cm || {},
                    v = 600;
                n("onP1", function () {
                    var r, i, n;
                    for (t.register = c, t.schedule = l, t.complete = k, t.recordTimings = a, t.reportCustomMetric = d, i = t._ns || []; r = i.shift();)o(r);
                    for (n = t._reg || []; n.length > 0;)l(n.shift());
                    f()
                }, 1)
            })(sj_evt.bind, sched, sb_st);
            (function () {
                var n = _ge("sb_form_q"), t = function (t) {
                    var i = t.keyCode, r, u;
                    (i === 32 || i > 47 && i < 91 || i > 95 && i < 106 || i > 185 && i < 223) && n && ("createTextRange" in n ? _d.activeElement !== n && (r = n.createTextRange(), r.collapse(!1), r.select(), n.focus()) : "getSelection" in _w && (r = _w.getSelection(), r.rangeCount === 0 && (u = _d.createRange(), u.selectNode(n), r.addRange(u), r.collapse(n, 0)), n.focus()))
                };
                sj_be(_d, "keydown", t)
            })();
            function sc_bgL() {
                function l() {
                    function y() {
                        f(o, y), v || (sb_ct(l), f(r, p), i(s, a))
                    }

                    function a() {
                        i(r, p, 1), f(s, a), i(o, y)
                    }

                    function p(i) {
                        function r() {
                            t.style.backgroundImage = "url('" + u.src + "')", sb_i8l && (t.style.filter = "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='" + u.src + "', sizingMethod='scale') progid:DXImageTransform.Microsoft.Alpha(opacity=0);"), t.className += " sw_imLd", e("onBgSet")
                        }

                        v = 1, u.onerror = u.onload = null, i[2] > n.d ? (sj_so(t, 0), r(), l = sb_st(sj_wf(_anim.fadeE(t).up, sc_fadeCb), h)) : (r(), sj_so(t, 100), sc_fadeCb()), sj_cook.set(n.cN, n.crN, n.hash, 0, "/")
                    }

                    var u = new Image, v = 0, c = 0, l, w;
                    i("onSearch", function () {
                        n.x = !0, u = null, sb_ct(l)
                    }), a(), u.onload = function () {
                        c = sb_gt() - w, e(r, u, c)
                    }, typeof g_rbBypass != "undefined" && g_rbBypass && (u.onerror = function () {
                        e(r, u, c)
                    }), w = sb_gt(), u.src = n.url
                }

                var n = g_img, t = _ge(n.id), u = sj_evt, i = u.bind, f = u.unbind, e = u.fire, r = "onBgLoad",
                    o = "onSbBusy", s = "onSbIdle", h = typeof n.del != "undefined" ? n.del : 500, c = _w.sched;
                _w.g_hptse && c ? c.schedule({ns: "H", task: l}) : i("onP1", l, 1, h)
            }
            function hpResize(n, t, i, r) {
                function s() {
                    var r, s;
                    if (!w) {
                        var n = v.getBoundingClientRect(), t = Math.min(Math.round(n.right - n.left), e),
                            i = Math.min(Math.round(n.bottom - n.top), o);
                        t / e > i / o ? (r = Math.ceil(o * t / e), u[y] = t + f, u[a] = r + f, u[c] = (i - r) / 2 + f, u[l] = 0) : (s = Math.ceil(e * i / o), u[a] = i + f, u[y] = s + f, u[c] = 0, u[l] = (t - s) / 2 + f)
                    }
                }

                var a = "height", y = "width", h = "resize", p = "unload", f = "px", c = "top", l = "left",
                    e = i || 1366, o = r || 768, u = n && n.style, v = t || _ge("hp_container"),
                    w = _ge("bgDivPortrait");
                v && u && (s(), sj_be(_w, h, s), sj_be(_w, p, sj_wf(sj_ue, _w, h, s)))
            }
            sc_fadeCb = function () {
            }, function (n) {
                function t() {
                    _w.g_img && g_img.cN && (typeof g_rbBypass == "undefined" || !g_rbBypass) || sj_evt.fire("onBgSet")
                }

                _w.g_hptse && n ? n.schedule({ns: "H", task: t}) : sj_evt.bind("onP1", t, 1)
            }(_w.sched);
            (function () {
                sb_ie && sj_evt.bind("onP1", function () {
                    sj_jb("UpdateDefaults", 0)
                }, 1, 50)
            })();
            (function () {
                var events = 0;
                sj_evt.bind("onBgSet", WaitEvent, 1, 0);
                sj_evt.bind("onP1", function () {
                    sj_jb("notifications", 0)
                }, 1, 0);
                sj_evt.bind("OnBnpLoaded", WaitEvent, 1, 0);
                function WaitEvent() {
                    if (++events == 2) SendRequest()
                }

                function SendRequest() {
                    if (typeof Bnp === 'undefined') return;
                    if (Bnp.Global) {
                        Bnp.Global.RawRequestURL = "/";
                        Bnp.Global.Referer = "https://www.google.com.pk/";
                    }
                    var request = new Bnp.Partner.Request("HomePage");
                    request.IID = "SERP.2000";
                    request.Submit();
                }
            })();
            ;function setCW() {
                sj_cook.set("_SS", "CW", sb_de.clientWidth || sj_b.clientWidth), sj_cook.set("_SS", "CH", sb_de.clientHeight)
            }
            sj_be(_w, "load", setCW), sj_be(_w, "resize", setCW);
            hpResize(_ge('vid'));
            ;g_img = {
                url: '/az/hprichbg/rb/ZalophusCalifornianus_ROW12150343982_1366x768.jpg',
                id: 'bgDiv',
                d: '200',
                cN: '_SS',
                crN: 'bIm',
                hash: '982',
                del: '50'
            };
            sc_bgL();
            ;function fadeComplete() {
                var i, u, t, r, n;
                _G.KPT = new Date, i = _w.g_HPRMSAOL, _ge("sc_hs1") && (i || (g_NPLE++, sj_jb("homepageHotspotsLarge_c"))), u = _ge("sw_filt"), u || (t = _ge("sb_sl"), r = _ge("sb_form"), t && r && (t.style.width = r.offsetWidth + "px", t.style.display = "block")), n = "", _ge("hp_pgbar") ? n = "HpProgrambar" : g_hasTb && (n = "HpModules"), n && (g_NPLE++, i || (_G && _G.RTL === !0 && (n += "_rtl"), sj_jb(n))), g_NPLE || sj_evt.fire("onRBComplete")
            }
            sc_fadeCb = fadeComplete, function () {
                var f = 1085, i = 1366, e = 16, r = "px", u = _ge("sw_footL"), t = _ge("hp_container"), n;
                u && t && (n = u.offsetWidth + e, n > i && (n = i), n > f && (t.style.minWidth = n + r, sj_b.clientWidth > sj_b.clientHeight && (!_w.navigator.userAgent.match(/iPad/) || (t.style.minHeight = parseInt(n * _d.body.offsetHeight / _d.body.offsetWidth) + r))))
            }();
            sa_config = {
                "u": "https%3a%2f%2fhk2.api.bing.com%2fqsonhs.aspx%3fFORM%3dASAPIH",
                "lp": "/account/general?ru=%2f\u0026sh=4",
                "lh": "https://onlinehelp.microsoft.com/en-ww/bing/ff808490.aspx",
                "as": "a",
                "p0": "DN,AN",
                "mkt": "en-ww",
                "f": "sb_form",
                "i": "sb_form_q",
                "c": "sw_as",
                "PT": "Page.Home",
                "h": 1,
                "t": 1,
                "ol": 1,
                "m": 8,
                "d": 100,
                "SCT": 1500
            };
            sa_loc = {
                "L_ADS": "Advanced search",
                "L_P": "Preferences",
                "L_MH": "Manage search history",
                "L_H": "What\u0027s this?",
                "H_PN": "Popular now"
            };
            sj_evt.bind('onP1', function () {
                sa_DNS = new Image;
                sa_DNS.src = {"url": "https://hk2.api.bing.com/qsonhs.aspx?FORM=ASAPIH"}.url + '&q='
            }, 1, 5);
            ;sa_loader = function () {
                _w.rms.js({
                    'rms:answers:AutoSuggest:AutoSugBasic': '\/s\/as\/0907051944\/AutoSuggest\/AutoSugBasic.js',
                    d: 1
                });
            };
            ;var sa_eL = !1, sj_evas, sj_etas, _iframeWindow;
            if (function () {
                    function e(t, i, r, f) {
                        t && sj_ue(t, i, e), sa_eL = sa_eL || n.eAI ? r && f.keyCode !== 27 : r, u || (u = !0, sa_loader())
                    }

                    function r(n, t, i) {
                        sj_be(n, t, function (r) {
                            e(n, t, i, sj_ev(r))
                        })
                    }

                    var f = _ge("sa_qs"), n, t, i, u;
                    f.value = "bs", n = sa_config, t = _ge(n.i), t.setAttribute("autocomplete", "off"), i = _ge(n.c), i || (i = sj_ce("div"), i.id = n.c, f.parentNode.appendChild(i)), u = !1, r(t, "click", !0), r(t, "keydown", !0), n.eAI && r(t, "keyup", !0), n.ol && r(_w, "load")
                }(), sj_evas = sj_ev, sj_etas = sj_et, sa_config.ic && sb_ie) {
                function getIframeWindow() {
                    return _iframeWindow || (_iframeWindow = _ge("sa_con").contentWindow), _iframeWindow
                }

                sj_evas = function () {
                    return getIframeWindow().event
                }, sj_etas = function () {
                    var n = getIframeWindow().event;
                    return n ? n.srcElement : null
                }
            }
            ;var _scopeRef = new Array();
            _scopeUrls['web'] = '/search?q=&amp;FORM=BWLH1';
            _scopeRef['web'] = '0';
            _scopeUrls['images'] = '/images/search?q=&amp;FORM=BILH1';
            _scopeRef['images'] = '1';
            _scopeUrls['video'] = '/videos/search?q=&amp;FORM=BVLH1';
            _scopeRef['video'] = '2';
            _scopeUrls['news'] = '/news/search?q=&amp;FORM=BNLH1';
            _scopeRef['news'] = '3';
            _scopeUrls['seeall'] = '/explore?q=&amp;FORM=BXLH1';
            _scopeRef['seeall'] = '4';
            var _scpIID = 'SERP.1000';
            ;_w.g_vidOn && !_w.g_hasVid ? sj_jb("HPImgVidViewer_c") : sj_jb("homepageImgViewer_c");
            ;var g_prefetch = {
                'Im': {
                    url: '\/az\/hprichbg\/rb\/ObservatoryFabra_ROW11976730323_1366x768.jpg',
                    hash: '323'
                }
            };
            var fbpkgiid = fbpkgiid || {};
            fbpkgiid.page = 'SERP.5038';
            ;var Feedback;
            (function (n) {
                (function () {
                    var t = _ge("sb_feedback");
                    t !== null && sj_be(t, "click", function (n) {
                        sj_jb("Feedback/Core", !0), sj_sp(n), function t() {
                            var n = {page: !0};
                            if (typeof feedback == "undefined" || typeof jQuery == "undefined") {
                                sb_st(t, 50);
                                return
                            }
                            feedback.core.load(n)
                        }()
                    })
                })(n.Footer || (n.Footer = {}));
                var t = n.Footer
            })(Feedback || (Feedback = {}));
            //]]></script>
            <script type="text/javascript">//<![CDATA[
            (function () {
                function t() {
                    _w.sb_ppCPL || sb_st(function () {
                        si_PP(new Date)
                    }, 0)
                }

                var n = _w.onload || function () {
                    };
                onload = function (i) {
                    _G.BPT = new Date, n(i), t()
                }, _G.HT = new Date
            })()
            //]]></script>
        </prefetchresources>
        <script src="/sa/8_01_1_2938701/notifications.js"></script>
        <script src="/sa/8_01_1_2938701/homepageImgViewer_c.js"></script>
        <script src="/fd/sa/9_00_0_2916619/rmsloaderdelayed.js"></script>
        <script src="/fd/sa/9_00_0_2916619/WindowsLiveConnect_c.js"></script>
        <script type="text/javascript" src="/s/as/0907051944/AutoSuggest/AutoSugBasic.js"></script>
        <iframe src="https://login.live.com/login.srf?wa=wsignin1.0&amp;rpsnv=12&amp;ct=1401600205&amp;rver=6.0.5286.0&amp;wp=MBI&amp;wreply=https:%2F%2Fwww.bing.com%2Fsecure%2FPassport.aspx%3Fpopup%3D1%26ssl%3D1&amp;lc=1033&amp;id=264960&amp;checkda=1"
                style="display: none;"></iframe>
        </body>
        </html>
    </ui:define>
</ui:composition>
</html>