<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ps="http://xmlns.jcp.org/jsf/passthrough">
<f:metadata>
    <f:viewParam name="view" value="#{hotelsBean.view}"/>
    <f:viewParam name="destinationId" value="#{hotelsBean.destinationId}"/>
</f:metadata>
<ui:composition template="/WEB-INF/template/template.xhtml">
    <ui:define name="head-title">Register</ui:define>
    <ui:define name="header"></ui:define>
    <ui:define name="content">
        <div class="full-page">
            <div class="bg-holder full">
                <div class="bg-mask"></div>
                <div class="bg-img"
                     style="background-image: url(img/2048x1365.jpg);"></div>
                <div class="bg-holder-content full text-white">
                    <a class="logo-holder" href="Home.jsf"> <img
                            src="img/logo-white.png" alt="Image Alternative text"
                            title="Image Title"/>
                    </a>
                    <div class="full-center">
                        <div class="container">
                            <div class="row row-wrap" data-gutter="60">
                                <div class="col-md-4">
                                    <!--<div class="visible-lg">-->
                                    <!--<h3 class="mb15">Welcome to Traveler</h3>-->
                                    <!--<p>Maecenas habitasse metus scelerisque consectetur-->
                                    <!--placerat leo aenean sagittis arcu eros vitae netus porta-->
                                    <!--senectus non consectetur felis litora inceptos ligula cras-->
                                    <!--aliquam fames dui tempus tempor sed luctus quis</p>-->
                                    <!--<p>Sociis tellus sociosqu magnis elit venenatis in-->
                                    <!--faucibus venenatis ante</p>-->
                                    <!--</div>-->
                                </div>
                                <div class="col-md-4">
                                    <h3 class="mb15">Login</h3>
                                    <h:form>
                                        <p:growl id="message" showDetail="true" sticky="true"/>
                                        <div class="form-group form-group-ghost form-group-icon-left">
                                            <i class="fa fa-user input-icon input-icon-show"></i> <label>Email</label>

                                            <h:inputText id="email" value="#{userSessionBean.email}"
                                                         styleClass="form-control"
                                                         ps:placeholder="e.g. johndoe@gmail.com" required="true"
                                                         requiredMessage="Please enter your email address."
                                                         validatorMessage="Invalid email format" label="Email">
                                                <f:validateRegex
                                                        pattern="^[_A-Za-z0-9-\+]+(\.[_A-Za-z0-9-]+)*@[A-Za-z0-9-]+(\.[A-Za-z0-9]+)*(\.[A-Za-z]{2,})$"/>
                                            </h:inputText>
                                        </div>
                                        <div class="form-group form-group-ghost form-group-icon-left">
                                            <i class="fa fa-lock input-icon input-icon-show"></i>
                                            <label>Password</label>
                                            <h:inputSecret id="password" value="#{userSessionBean.password}"
                                                           styleClass="form-control"
                                                           ps:placeholder="my secret password" required="true"
                                                           label="Password"
                                                           requiredMessage="Please enter your Password."/>


                                        </div>
                                        <h:commandButton action="#{userSessionBean.logIn}" value="Sign in"
                                                         styleClass="btn btn-primary">
                                        </h:commandButton>
                                    </h:form>
                                    <h:form id="social-auth">
										<span
                                                style="position: absolute; margin-top: -35px; margin-left: 143px">


											<h:commandLink action="#{userSessionBean.socialConnect}"
                                                           value="Sign in with Facebook"
                                                           styleClass="btn btn-block btn-social btn-facebook"
                                                           style="padding-right:10px">
												<i class="fa fa-facebook"></i>
												<f:setPropertyActionListener
                                                        target="#{userSessionBean.providerID}" value="facebook"/>
											</h:commandLink>

										</span>
                                    </h:form>
                                </div>
                                <div class="col-md-4">
                                    <h3 class="mb15">New To Traveler?</h3>
                                    <h:form>

                                        <div class="form-group form-group-ghost form-group-icon-left">
                                            <i class="fa fa-envelope input-icon input-icon-show"></i>
                                            <label>Emai</label>
                                            <h:inputText id="email" value="#{userSessionBean.email}"
                                                         type="text" styleClass="form-control"
                                                         ps:placeholder="e.g. johndoe@gmail.com" required="true"
                                                         label="Email" validatorMessage="Invalid email format">

                                                <f:validateRegex
                                                        pattern="^[_A-Za-z0-9-\+]+(\.[_A-Za-z0-9-]+)*@[A-Za-z0-9-]+(\.[A-Za-z0-9]+)*(\.[A-Za-z]{2,})$"/>
                                            </h:inputText>
                                        </div>
                                        <div class="form-group form-group-ghost form-group-icon-left">
                                            <i class="fa fa-lock input-icon input-icon-show"></i>
                                            <label>Password</label>
                                            <h:inputSecret id="password" value="#{userSessionBean.password}"
                                                           type="text" styleClass="form-control"
                                                           ps:placeholder="my secret password" required="true"
                                                           label="Password"/>
                                        </div>

                                        <div class="form-group form-group-ghost form-group-icon-left">
                                            <i class="fa fa-user input-icon input-icon-show"></i> <label>First
                                            Name</label>
                                            <h:inputText id="firstName" value="#{userSessionBean.firstName}"
                                                         type="text" styleClass="form-control"
                                                         ps:placeholder="e.g. John" required="true"
                                                         label="First Name"/>
                                        </div>
                                        <div class="form-group form-group-ghost form-group-icon-left">
                                            <i class="fa fa-user input-icon input-icon-show"></i> <label>Last
                                            Name</label>
                                            <h:inputText id="lastName" value="#{userSessionBean.lastName}"
                                                         type="text" styleClass="form-control"
                                                         ps:placeholder="e.g. Doe" required="true" label="Last Name"/>
                                        </div>
                                        <div class="form-group form-group-ghost form-group-icon-left">
                                            <i class="fa fa-user input-icon input-icon-show"></i> <label>Current
                                            City</label>
                                            <h:inputText id="city" value="#{userSessionBean.city}"
                                                         type="text" styleClass="form-control"
                                                         ps:placeholder="e.g. Istanbul" required="true"
                                                         label="Current
												City"/>
                                        </div>


                                        <h:commandButton action="#{userSessionBean.register}"
                                                         value="Sign up for Traveler"
                                                         styleClass="btn btn-primary"></h:commandButton>
                                    </h:form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--<ul class="footer-links">-->
                    <!--<li><a href="#">About</a></li>-->
                    <!--<li><a href="#">Help</a></li>-->
                    <!--<li><a href="#">Hot Deals</a></li>-->
                    <!--<li><a href="#">Popular Locations</a></li>-->
                    <!--<li><a href="#">Cheap Flights</a></li>-->
                    <!--<li><a href="#">Business</a></li>-->
                    <!--<li><a href="#">Media</a></li>-->
                    <!--<li><a href="#">Developers</a></li>-->
                    <!--<li><a href="#">Advertise</a></li>-->
                    <!--</ul>-->
                </div>
            </div>
        </div>

    </ui:define>
    <ui:define name="footer"></ui:define>
    <ui:define name="body-js">
        <script>
            $('html').addClass("full");
        </script>
    </ui:define>
</ui:composition>
</html>