<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ps="http://xmlns.jcp.org/jsf/passthrough">
<f:metadata>
    <f:viewParam name="view" value="#{hotelsBean.view}"/>
    <f:viewParam name="destinationId" value="#{hotelsBean.hotelSearchRequest.destinationId}"/>
    <f:viewAction action="#{hotelsBean.searchHotels}"/>
</f:metadata>
<ui:composition template="/WEB-INF/template/template.xhtml">
    <ui:define name="head-title">Traveler</ui:define>
    <ui:define name="header"></ui:define>
    <ui:define name="content">

        <!--<h:form>-->
            <!--<p:remoteCommand name="onload" action="#{hotelsBean.searchHotels}"-->
                             <!--autoRun="true"/>-->
        <!--</h:form>-->
        <div class="full-page">
            <div class="bg-holder full">
                <div class="bg-mask"></div>
                <div class="bg-img"
                     style='background-image: url(#{hotelsBean.destination.images.get(0).get("url")});'></div>
                <div class="bg-holder-content full text-white text-center">
                    <a class="logo-holder" href="Home.jsf"> <img
                            src="img/logo-white.png" alt="Image Alternative text"
                            title="Image Title"/>
                    </a>
                    <div class="full-center">
                        <div class="container">
                            <div class="spinner-clock">
                                <div class="spinner-clock-hour"></div>
                                <div class="spinner-clock-minute"></div>
                            </div>

                            <h2 class="mb5">Looking for hotels in #{hotelsBean.destination.name}...</h2>
                            <p class="text-bigger">it will take a couple of seconds</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </ui:define>
    <ui:define name="footer"></ui:define>
    <ui:define name="body-js">
        <script>
            $('html').addClass("full");
        </script>
    </ui:define>
</ui:composition>
</html>