<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://xmlns.jcp.org/jsf/passthrough">
<f:metadata>
    <f:viewParam name="view" value="#{hotelsBean.view}"/>
    <f:viewParam name="destinationId" value="#{hotelsBean.destinationId}"/>
</f:metadata>
<ui:composition template="/WEB-INF/template/template.xhtml">
    <ui:define name="head-title">404 Not Found</ui:define>
    <ui:define name="header"></ui:define>
    <ui:define name="content">

        <div class="full-page">
            <div class="bg-holder full">
                <div class="bg-mask"></div>
                <div class="bg-blur"
                     style="background-image: url(img/1300x900.jpg);"></div>
                <div class="bg-holder-content full text-white">
                    <a class="logo-holder" href="Home.jsf"> <img
                            src="img/logo-white.png" alt="Image Alternative text"
                            title="Image Title"/>
                    </a>
                    <div class="full-center">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-6 col-md-offset-3">
                                    <p class="text-hero">404</p>
                                    <h1>Page is not found</h1>
                                    <p>Fusce ante tempor dictumst penatibus viverra non
                                        scelerisque ligula vel montes magna morbi ultrices eros vitae
                                        euismod habitant suspendisse lobortis</p>
                                    <a class="btn btn-white btn-ghost btn-lg mt5" href="Home.jsf"><i
                                            class="fa fa-long-arrow-left"></i> to Homepage</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <ul class="footer-links">
                        <li><a href="#">About</a></li>
                        <li><a href="#">Help</a></li>
                        <li><a href="#">Hot Deals</a></li>
                        <li><a href="#">Popular Locations</a></li>
                        <li><a href="#">Cheap Flights</a></li>
                        <li><a href="#">Business</a></li>
                        <li><a href="#">Media</a></li>
                        <li><a href="#">Developers</a></li>
                        <li><a href="#">Advertise</a></li>
                    </ul>
                </div>
            </div>
        </div>


    </ui:define>
    <ui:define name="footer"></ui:define>
    <ui:define name="body-js">
        <script>
            $('html').addClass("full");
        </script>
    </ui:define>
</ui:composition>
</html>