<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ps="http://xmlns.jcp.org/jsf/passthrough">
<f:metadata>
    <f:viewParam name="hotelId" value="#{hotelReviewBean.hotelId}"/>
</f:metadata>
<ui:composition template="/WEB-INF/template/template.xhtml">
    <ui:define name="head-title">Hotel Review</ui:define>
    <ui:define name="content">


        <div class="container">
            <ul class="breadcrumb">
                <li><a href="Home.jsf">Home</a></li>
                <ui:repeat var="destination"
                           value="#{hotelReviewBean.destinationList}">

                    <li><a
                            href="SearchHotels.jsf?view=block&amp;destinationId=#{destination.destinationId}">#{destination.destinationName}</a>
                    </li>


                </ui:repeat>
                <li class="active">#{hotelReviewBean.hotel.name}</li>
            </ul>
            <div class="booking-item-details">
                <header class="booking-item-header">
                    <div class="row">
                        <div class="col-md-9">
                            <h2 class="lh1em">#{hotelReviewBean.hotel.name}</h2>
                            <p class="lh1em text-small">
                                <i class="fa fa-map-marker"></i>
                                #{hotelReviewBean.hotel.street}
                                #{hotelReviewBean.hotel.postalCode}
                                #{hotelReviewBean.hotel.locality}  #{hotelReviewBean.hotel.country}
                            </p>
                            <ul class="list list-inline text-small">
                                <li><a href="#"><i class="fa fa-envelope"></i> Hotel
                                    E-mail</a></li>
                                <li><a href="#"><i class="fa fa-home"></i> Hotel Website</a>
                                </li>
                                <li><i class="fa fa-phone"></i>
                                    #{hotelReviewBean.hotel.phone}</li>
                            </ul>
                        </div>
                        <div class="col-md-3">
                            <p class="booking-item-header-price">
                                <small>price from</small>
                                <span class="text-lg">$350</span>/night
                            </p>
                        </div>
                    </div>
                </header>
                <div class="row">
                    <div class="col-md-6">
                        <div class="tabbable booking-details-tabbable">
                            <ul class="nav nav-tabs" id="myTab">
                                <li class="active"><a href="#tab-1" data-toggle="tab"><i
                                        class="fa fa-camera"></i>Photos</a></li>
                                <li><a href="#google-map-tab" data-toggle="tab"><i
                                        class="fa fa-map-marker"></i>On the Map</a></li>
                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane fade in active" id="tab-1">
                                    <div class="fotorama" data-allowfullscreen="true"
                                         data-nav="thumbs">
                                        <ui:repeat value="#{hotelReviewBean.hotel.images}" var="image"
                                                   varStatus="loop">

                                            <img alt='#{hotel.name}' src='#{hotelReviewBean.getImageUrl(image)}'/>
                                        </ui:repeat>


                                    </div>
                                </div>
                                <div class="tab-pane fade" id="google-map-tab">
                                    <h:form>
                                        <p:gmap
                                                widgetVar="gmap"
                                                center="#{hotelReviewBean.hotel.getLatitude()},#{hotelReviewBean.hotel.getLongitude()}"
                                                zoom="9" type="ROADMAP" model="#{hotelReviewBean.mapModel}"
                                                style="width: 100%; height: 500px;" streetView="true"/>
                                        <script type="text/javascript">$('#tab-1').click();</script>
                                    </h:form>


                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="booking-item-meta">
                            <h2 class="lh1em mt40">Exeptional!</h2>
                            <h3>
                                97%
                                <small>of guests recommend</small>
                            </h3>
                            <div class="booking-item-rating">
                                <ul class="icon-list icon-group booking-item-rating-stars">
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                </ul>
                                <span class="booking-item-rating-number"><b>4.7</b> of 5
									<small class="text-smaller">guest rating</small></span>
                                <p>
                                    <a class="text-default" href="#">based on 1535 reviews</a>
                                </p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-8">
                                <h4 class="lh1em">Traveler raiting</h4>
                                <ul class="list booking-item-raiting-list">
                                    <li>
                                        <div class="booking-item-raiting-list-title">Exellent</div>
                                        <div class="booking-item-raiting-list-bar">
                                            <div style="width: 87%;"></div>
                                        </div>
                                        <div class="booking-item-raiting-list-number">1408</div>
                                    </li>
                                    <li>
                                        <div class="booking-item-raiting-list-title">Very Good</div>
                                        <div class="booking-item-raiting-list-bar">
                                            <div style="width: 4%;"></div>
                                        </div>
                                        <div class="booking-item-raiting-list-number">67</div>
                                    </li>
                                    <li>
                                        <div class="booking-item-raiting-list-title">Average</div>
                                        <div class="booking-item-raiting-list-bar">
                                            <div style="width: 3%;"></div>
                                        </div>
                                        <div class="booking-item-raiting-list-number">22</div>
                                    </li>
                                    <li>
                                        <div class="booking-item-raiting-list-title">Poor</div>
                                        <div class="booking-item-raiting-list-bar">
                                            <div style="width: 3%;"></div>
                                        </div>
                                        <div class="booking-item-raiting-list-number">14</div>
                                    </li>
                                    <li>
                                        <div class="booking-item-raiting-list-title">Terrible</div>
                                        <div class="booking-item-raiting-list-bar">
                                            <div style="width: 1%;"></div>
                                        </div>
                                        <div class="booking-item-raiting-list-number">5</div>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-md-4">
                                <h4 class="lh1em">Summary</h4>
                                <ul class="list booking-item-raiting-summary-list">
                                    <li>
                                        <div class="booking-item-raiting-list-title">Sleep</div>
                                        <ul class="icon-group booking-item-rating-stars">
                                            <li><i class="fa fa-smile-o"></i></li>
                                            <li><i class="fa fa-smile-o"></i></li>
                                            <li><i class="fa fa-smile-o"></i></li>
                                            <li><i class="fa fa-smile-o"></i></li>
                                            <li><i class="fa fa-smile-o"></i></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <div class="booking-item-raiting-list-title">Location</div>
                                        <ul class="icon-group booking-item-rating-stars">
                                            <li><i class="fa fa-smile-o"></i></li>
                                            <li><i class="fa fa-smile-o"></i></li>
                                            <li><i class="fa fa-smile-o"></i></li>
                                            <li><i class="fa fa-smile-o"></i></li>
                                            <li><i class="fa fa-smile-o text-gray"></i></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <div class="booking-item-raiting-list-title">Service</div>
                                        <ul class="icon-group booking-item-rating-stars">
                                            <li><i class="fa fa-smile-o"></i></li>
                                            <li><i class="fa fa-smile-o"></i></li>
                                            <li><i class="fa fa-smile-o"></i></li>
                                            <li><i class="fa fa-smile-o"></i></li>
                                            <li><i class="fa fa-smile-o"></i></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <div class="booking-item-raiting-list-title">Clearness</div>
                                        <ul class="icon-group booking-item-rating-stars">
                                            <li><i class="fa fa-smile-o"></i></li>
                                            <li><i class="fa fa-smile-o"></i></li>
                                            <li><i class="fa fa-smile-o"></i></li>
                                            <li><i class="fa fa-smile-o"></i></li>
                                            <li><i class="fa fa-smile-o"></i></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <div class="booking-item-raiting-list-title">Rooms</div>
                                        <ul class="icon-group booking-item-rating-stars">
                                            <li><i class="fa fa-smile-o"></i></li>
                                            <li><i class="fa fa-smile-o"></i></li>
                                            <li><i class="fa fa-smile-o"></i></li>
                                            <li><i class="fa fa-smile-o"></i></li>
                                            <li><i class="fa fa-smile-o"></i></li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <a href="#" class="btn btn-primary">Write a Review</a>
                    </div>
                </div>
                <div class="gap"></div>
                <h3>Available Rooms</h3>
                <div class="row">
                    <!--<div class="col-md-9">-->
                    <!--<div class="booking-item-dates-change">-->
                    <!--<form>-->
                    <!--<div class="row">-->
                    <!--<div class="col-md-6">-->
                    <!--<div class="input-daterange" data-date-format="MM d, D">-->
                    <!--<div class="row">-->
                    <!--<div class="col-md-6">-->
                    <!--<div class="form-group form-group-icon-left">-->
                    <!--<i class="fa fa-calendar input-icon input-icon-hightlight"></i>-->
                    <!--<label>Check in</label> <input class="form-control"-->
                    <!--name="start" type="text" />-->
                    <!--</div>-->
                    <!--</div>-->
                    <!--<div class="col-md-6">-->
                    <!--<div class="form-group form-group-icon-left">-->
                    <!--<i class="fa fa-calendar input-icon input-icon-hightlight"></i>-->
                    <!--<label>Check out</label> <input class="form-control"-->
                    <!--name="end" type="text" />-->
                    <!--</div>-->
                    <!--</div>-->
                    <!--</div>-->
                    <!--</div>-->
                    <!--</div>-->
                    <!--<div class="col-md-2">-->
                    <!--<div class="form-group form-group-select-plus">-->
                    <!--<label>Adults</label>-->
                    <!--<div class="btn-group btn-group-select-num"-->
                    <!--data-toggle="buttons">-->
                    <!--<label class="btn btn-primary active"> <input-->
                    <!--type="radio" name="options" />1-->
                    <!--</label> <label class="btn btn-primary"> <input type="radio"-->
                    <!--name="options" />2-->
                    <!--</label> <label class="btn btn-primary"> <input type="radio"-->
                    <!--name="options" />3-->
                    <!--</label> <label class="btn btn-primary"> <input type="radio"-->
                    <!--name="options" />3+-->
                    <!--</label>-->
                    <!--</div>-->
                    <!--<select class="form-control hidden">-->
                    <!--<option>1</option>-->
                    <!--<option>2</option>-->
                    <!--<option>3</option>-->
                    <!--<option selected="selected">4</option>-->
                    <!--<option>5</option>-->
                    <!--<option>6</option>-->
                    <!--<option>7</option>-->
                    <!--<option>8</option>-->
                    <!--<option>9</option>-->
                    <!--<option>10</option>-->
                    <!--<option>11</option>-->
                    <!--<option>12</option>-->
                    <!--<option>13</option>-->
                    <!--<option>14</option>-->
                    <!--</select>-->
                    <!--</div>-->
                    <!--</div>-->
                    <!--<div class="col-md-2">-->
                    <!--<div class="form-group form-group-select-plus">-->
                    <!--<label>Children</label>-->
                    <!--<div class="btn-group btn-group-select-num"-->
                    <!--data-toggle="buttons">-->
                    <!--<label class="btn btn-primary active"> <input-->
                    <!--type="radio" name="options" />0-->
                    <!--</label> <label class="btn btn-primary"> <input type="radio"-->
                    <!--name="options" />1-->
                    <!--</label> <label class="btn btn-primary"> <input type="radio"-->
                    <!--name="options" />2-->
                    <!--</label> <label class="btn btn-primary"> <input type="radio"-->
                    <!--name="options" />2+-->
                    <!--</label>-->
                    <!--</div>-->
                    <!--<select class="form-control hidden">-->
                    <!--<option>0</option>-->
                    <!--<option>1</option>-->
                    <!--<option>2</option>-->
                    <!--<option selected="selected">3</option>-->
                    <!--<option>4</option>-->
                    <!--<option>5</option>-->
                    <!--<option>6</option>-->
                    <!--<option>7</option>-->
                    <!--<option>8</option>-->
                    <!--<option>9</option>-->
                    <!--<option>10</option>-->
                    <!--<option>11</option>-->
                    <!--<option>12</option>-->
                    <!--<option>13</option>-->
                    <!--<option>14</option>-->
                    <!--</select>-->
                    <!--</div>-->
                    <!--</div>-->
                    <!--<div class="col-md-2">-->
                    <!--<div class="form-group form-group-select-plus">-->
                    <!--<label>Rooms</label>-->
                    <!--<div class="btn-group btn-group-select-num"-->
                    <!--data-toggle="buttons">-->
                    <!--<label class="btn btn-primary active"> <input-->
                    <!--type="radio" name="options" />1-->
                    <!--</label> <label class="btn btn-primary"> <input type="radio"-->
                    <!--name="options" />2-->
                    <!--</label> <label class="btn btn-primary"> <input type="radio"-->
                    <!--name="options" />3-->
                    <!--</label> <label class="btn btn-primary"> <input type="radio"-->
                    <!--name="options" />3+-->
                    <!--</label>-->
                    <!--</div>-->
                    <!--<select class="form-control hidden">-->
                    <!--<option>1</option>-->
                    <!--<option>2</option>-->
                    <!--<option>3</option>-->
                    <!--<option selected="selected">4</option>-->
                    <!--<option>5</option>-->
                    <!--<option>6</option>-->
                    <!--<option>7</option>-->
                    <!--<option>8</option>-->
                    <!--<option>9</option>-->
                    <!--<option>10</option>-->
                    <!--<option>11</option>-->
                    <!--<option>12</option>-->
                    <!--<option>13</option>-->
                    <!--<option>14</option>-->
                    <!--</select>-->
                    <!--</div>-->
                    <!--</div>-->
                    <!--</div>-->
                    <!--</form>-->
                    <!--</div>-->
                    <!--<div class="gap gap-small"></div>-->
                    <!--<ul class="booking-list">-->
                    <!--<li><a class="booking-item">-->
                    <!--<div class="row">-->
                    <!--<div class="col-md-3">-->
                    <!--<img src="img/800x600.png" alt="Image Alternative text"-->
                    <!--title="hotel 1" />-->
                    <!--</div>-->
                    <!--<div class="col-md-6">-->
                    <!--<h5 class="booking-item-title">Junior Suite</h5>-->
                    <!--<p class="text-small">Convallis egestas posuere etiam-->
                    <!--aliquam posuere duis a fringilla enim dictum tortor accumsan</p>-->
                    <!--<ul-->
                    <!--class="booking-item-features booking-item-features-sign clearfix">-->
                    <!--<li rel="tooltip" data-placement="top"-->
                    <!--title="Adults Occupancy"><i class="fa fa-male"></i><span-->
                    <!--class="booking-item-feature-sign">x 3</span></li>-->
                    <!--<li rel="tooltip" data-placement="top"-->
                    <!--title="Children Occupancy"><i class="im im-children"></i><span-->
                    <!--class="booking-item-feature-sign">x 2</span></li>-->
                    <!--<li rel="tooltip" data-placement="top" title="Beds"><i-->
                    <!--class="im im-bed"></i><span-->
                    <!--class="booking-item-feature-sign">x 2</span></li>-->
                    <!--<li rel="tooltip" data-placement="top"-->
                    <!--title="Room footage (square feet)"><i-->
                    <!--class="im im-width"></i><span-->
                    <!--class="booking-item-feature-sign">750</span></li>-->
                    <!--</ul>-->
                    <!--<ul-->
                    <!--class="booking-item-features booking-item-features-small clearfix">-->
                    <!--<li rel="tooltip" data-placement="top"-->
                    <!--title="Air Conditioning"><i class="im im-air"></i></li>-->
                    <!--<li rel="tooltip" data-placement="top" title="Patio"><i-->
                    <!--class="im im-patio"></i></li>-->
                    <!--<li rel="tooltip" data-placement="top" title="Soundproof"><i-->
                    <!--class="im im-soundproof"></i></li>-->
                    <!--<li rel="tooltip" data-placement="top" title="SPA tub"><i-->
                    <!--class="im im-spa"></i></li>-->
                    <!--<li rel="tooltip" data-placement="top" title="Terrace"><i-->
                    <!--class="im im-terrace"></i></li>-->
                    <!--</ul>-->
                    <!--</div>-->
                    <!--<div class="col-md-3">-->
                    <!--<span class="booking-item-price">$235</span><span>/night</span><span-->
                    <!--class="btn btn-primary">Book</span>-->
                    <!--</div>-->
                    <!--</div>-->
                    <!--</a></li>-->
                    <!--</ul>-->
                    <!--</div>-->
                    <div class="col-md-12">
                        <h4>About the Hotel</h4>
                        <p class="mb30">#{hotelReviewBean.hotel.description}</p>
                        <h4>Hotel Facilities</h4>
                        <ul
                                class="booking-item-features booking-item-features-expand mb30 clearfix">
                            <li class="left"><i class="im im-wi-fi"></i><span
                                    class="booking-item-feature-title">Wi-Fi Internet</span></li>
                            <li class="left"><i class="im im-parking"></i><span
                                    class="booking-item-feature-title">Parking</span></li>
                            <li><i class="im im-plane"></i><span
                                    class="booking-item-feature-title">Airport Transport</span></li>
                            <li><i class="im ;im-bus"></i><span
                                    class="booking-item-feature-title">Shuttle Bus Service</span></li>
                            <li><i class="im im-fitness"></i><span
                                    class="booking-item-feature-title">Fitness Center</span></li>
                            <li><i class="im im-pool"></i><span
                                    class="booking-item-feature-title">Pool</span></li>
                            <li><i class="im im-spa"></i><span
                                    class="booking-item-feature-title">SPA</span></li>
                            <li><i class="im im-restaurant"></i><span
                                    class="booking-item-feature-title">Restaurant</span></li>
                            <li><i class="im im-wheel-chair"></i><span
                                    class="booking-item-feature-title">Wheelchair Access</span></li>
                            <li><i class="im im-business-person"></i><span
                                    class="booking-item-feature-title">Business Center</span></li>
                            <li><i class="im im-children"></i><span
                                    class="booking-item-feature-title">Children Activites</span></li>
                            <li><i class="im im-casino"></i><span
                                    class="booking-item-feature-title">Casino &amp; Gambling</span>
                            </li>
                            <li><i class="im im-bar"></i><span
                                    class="booking-item-feature-title">Bar/Lounge</span></li>
                        </ul>
                    </div>
                </div>
                <h3 class="mb20">Hotel Reviews</h3>
                <div class="row row-wrap">
                    <div class="col-md-8">
                        <ul class="booking-item-reviews list">
                            <li>
                                <div class="row">
                                    <div class="col-md-2">
                                        <div class="booking-item-review-person">
                                            <a class="booking-item-review-person-avatar round" href="#">
                                                <img src="img/70x70.png" alt="Image Alternative text"
                                                     title="Chiara"/>
                                            </a>
                                            <p class="booking-item-review-person-name">
                                                <a href="#">John Doe</a>
                                            </p>
                                            <p class="booking-item-review-person-loc">Palm Beach, FL</p>
                                            <small><a href="#">147 Reviews</a></small>
                                        </div>
                                    </div>
                                    <div class="col-md-10">
                                        <div class="booking-item-review-content">
                                            <h5>"Magnis lectus pellentesque sed lacinia ut aptent"</h5>
                                            <ul class="icon-group booking-item-rating-stars">
                                                <li><i class="fa fa-star"></i></li>
                                                <li><i class="fa fa-star"></i></li>
                                                <li><i class="fa fa-star"></i></li>
                                                <li><i class="fa fa-star"></i></li>
                                                <li><i class="fa fa-star"></i></li>
                                            </ul>
                                            <p>
                                                Hac aenean leo sagittis dapibus mauris sit sociosqu sit non
                                                ipsum penatibus lacus molestie aptent elementum nascetur a
                                                blandit aenean<span class="booking-item-review-more">
													Fusce eleifend hendrerit ac fringilla vehicula eget odio
													orci hac mauris tincidunt tellus dis nec eleifend commodo
													per enim orci urna malesuada tincidunt nec libero turpis
													fermentum accumsan est non tristique interdum ligula sit
													luctus purus nulla et imperdiet maecenas suspendisse diam
													lorem nisi quis elit augue mus interdum porttitor ante
													fermentum interdum est primis hendrerit suscipit curae
													venenatis pellentesque fusce class class per vel</span>
                                            </p>
                                            <div class="booking-item-review-more-content">
                                                <p>Facilisi vestibulum hac euismod luctus ultrices dui
                                                    leo suspendisse sed dictumst ad cursus velit quam blandit
                                                    nisl egestas tempor eros turpis vel aenean nunc eu viverra
                                                    dictum sagittis libero pellentesque scelerisque senectus
                                                    odio sit suscipit fringilla mus sit sem interdum justo
                                                    massa orci parturient velit</p>
                                                <p>Donec semper cum imperdiet ridiculus facilisis magnis
                                                    justo morbi nascetur rutrum etiam iaculis nec non placerat
                                                    nisi sed at suscipit at duis quam massa consectetur euismod
                                                    quam suspendisse netus vivamus penatibus nunc sociosqu
                                                    quisque neque amet porttitor nisl commodo sem metus vivamus
                                                    faucibus curabitur cum sollicitudin sed sapien ultrices
                                                    placerat placerat vehicula phasellus litora mollis
                                                    fringilla ridiculus odio litora</p>
                                                <p class="text-small mt20">Stayed March 2014, traveled
                                                    as a couple</p>
                                                <div class="row">
                                                    <div class="col-md-4">
                                                        <ul class="list booking-item-raiting-summary-list">
                                                            <li>
                                                                <div class="booking-item-raiting-list-title">Sleep</div>
                                                                <ul class="icon-group booking-item-rating-stars">
                                                                    <li><i class="fa fa-smile-o"></i></li>
                                                                    <li><i class="fa fa-smile-o"></i></li>
                                                                    <li><i class="fa fa-smile-o"></i></li>
                                                                    <li><i class="fa fa-smile-o"></i></li>
                                                                    <li><i class="fa fa-smile-o text-gray"></i></li>
                                                                </ul>
                                                            </li>
                                                            <li>
                                                                <div class="booking-item-raiting-list-title">Location</div>
                                                                <ul class="icon-group booking-item-rating-stars">
                                                                    <li><i class="fa fa-smile-o"></i></li>
                                                                    <li><i class="fa fa-smile-o"></i></li>
                                                                    <li><i class="fa fa-smile-o"></i></li>
                                                                    <li><i class="fa fa-smile-o"></i></li>
                                                                    <li><i class="fa fa-smile-o"></i></li>
                                                                </ul>
                                                            </li>
                                                            <li>
                                                                <div class="booking-item-raiting-list-title">Service</div>
                                                                <ul class="icon-group booking-item-rating-stars">
                                                                    <li><i class="fa fa-smile-o"></i></li>
                                                                    <li><i class="fa fa-smile-o"></i></li>
                                                                    <li><i class="fa fa-smile-o"></i></li>
                                                                    <li><i class="fa fa-smile-o"></i></li>
                                                                    <li><i class="fa fa-smile-o"></i></li>
                                                                </ul>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <ul class="list booking-item-raiting-summary-list">
                                                            <li>
                                                                <div class="booking-item-raiting-list-title">Clearness</div>
                                                                <ul class="icon-group booking-item-rating-stars">
                                                                    <li><i class="fa fa-smile-o"></i></li>
                                                                    <li><i class="fa fa-smile-o"></i></li>
                                                                    <li><i class="fa fa-smile-o"></i></li>
                                                                    <li><i class="fa fa-smile-o"></i></li>
                                                                    <li><i class="fa fa-smile-o text-gray"></i></li>
                                                                </ul>
                                                            </li>
                                                            <li>
                                                                <div class="booking-item-raiting-list-title">Rooms</div>
                                                                <ul class="icon-group booking-item-rating-stars">
                                                                    <li><i class="fa fa-smile-o"></i></li>
                                                                    <li><i class="fa fa-smile-o"></i></li>
                                                                    <li><i class="fa fa-smile-o"></i></li>
                                                                    <li><i class="fa fa-smile-o"></i></li>
                                                                    <li><i class="fa fa-smile-o text-gray"></i></li>
                                                                </ul>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="booking-item-review-expand">
												<span class="booking-item-review-expand-more">More <i
                                                        class="fa fa-angle-down"></i></span><span
                                                    class="booking-item-review-expand-less">Less <i
                                                    class="fa fa-angle-up"></i></span>
                                            </div>
                                            <p class="booking-item-review-rate">
                                                Was this review helpful? <a
                                                    class="fa fa-thumbs-o-up box-icon-inline round" href="#"></a><b
                                                    class="text-color"> 17</b>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                        <div class="row wrap">
                            <div class="col-md-5">
                                <p>
                                    <small>1294 reviews on this hotel. &nbsp;&nbsp;Showing
                                        1 to 7
                                    </small>
                                </p>
                            </div>
                            <div class="col-md-7">
                                <ul class="pagination">
                                    <li class="active"><a href="#">1</a></li>
                                    <li><a href="#">2</a></li>
                                    <li><a href="#">3</a></li>
                                    <li><a href="#">4</a></li>
                                    <li><a href="#">5</a></li>
                                    <li><a href="#">6</a></li>
                                    <li><a href="#">7</a></li>
                                    <li class="dots">...</li>
                                    <li><a href="#">43</a></li>
                                    <li class="next"><a href="#">Next Page</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="gap gap-small"></div>
                        <div class="box bg-gray">
                            <h3>Write a Review</h3>
                            <form>
                                <div class="row">
                                    <div class="col-md-8">
                                        <div class="form-group">
                                            <label>Review Title</label> <input class="form-control"
                                                                               type="text"/>
                                        </div>
                                        <div class="form-group">
                                            <label>Review Text</label>
                                            <textarea class="form-control" rows="6"></textarea>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <ul
                                                class="list booking-item-raiting-summary-list stats-list-select">
                                            <li>
                                                <div class="booking-item-raiting-list-title">Sleep</div>
                                                <ul class="icon-group booking-item-rating-stars">
                                                    <li><i class="fa fa-smile-o"></i></li>
                                                    <li><i class="fa fa-smile-o"></i></li>
                                                    <li><i class="fa fa-smile-o"></i></li>
                                                    <li><i class="fa fa-smile-o"></i></li>
                                                    <li><i class="fa fa-smile-o"></i></li>
                                                </ul>
                                            </li>
                                            <li>
                                                <div class="booking-item-raiting-list-title">Location</div>
                                                <ul class="icon-group booking-item-rating-stars">
                                                    <li><i class="fa fa-smile-o"></i></li>
                                                    <li><i class="fa fa-smile-o"></i></li>
                                                    <li><i class="fa fa-smile-o"></i></li>
                                                    <li><i class="fa fa-smile-o"></i></li>
                                                    <li><i class="fa fa-smile-o"></i></li>
                                                </ul>
                                            </li>
                                            <li>
                                                <div class="booking-item-raiting-list-title">Service</div>
                                                <ul class="icon-group booking-item-rating-stars">
                                                    <li><i class="fa fa-smile-o"></i></li>
                                                    <li><i class="fa fa-smile-o"></i></li>
                                                    <li><i class="fa fa-smile-o"></i></li>
                                                    <li><i class="fa fa-smile-o"></i></li>
                                                    <li><i class="fa fa-smile-o"></i></li>
                                                </ul>
                                            </li>
                                            <li>
                                                <div class="booking-item-raiting-list-title">Clearness</div>
                                                <ul class="icon-group booking-item-rating-stars">
                                                    <li><i class="fa fa-smile-o"></i></li>
                                                    <li><i class="fa fa-smile-o"></i></li>
                                                    <li><i class="fa fa-smile-o"></i></li>
                                                    <li><i class="fa fa-smile-o"></i></li>
                                                    <li><i class="fa fa-smile-o"></i></li>
                                                </ul>
                                            </li>
                                            <li>
                                                <div class="booking-item-raiting-list-title">Rooms</div>
                                                <ul class="icon-group booking-item-rating-stars">
                                                    <li><i class="fa fa-smile-o"></i></li>
                                                    <li><i class="fa fa-smile-o"></i></li>
                                                    <li><i class="fa fa-smile-o"></i></li>
                                                    <li><i class="fa fa-smile-o"></i></li>
                                                    <li><i class="fa fa-smile-o"></i></li>
                                                </ul>
                                            </li>
                                        </ul>
                                        <input class="btn btn-primary" type="submit"
                                               value="Leave a Review"/>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <h4>Hotels Near #{hotelReviewBean.hotel.name}</h4>
                        <ul class="booking-list">

                            <ui:repeat value="#{hotelReviewBean.similarHotels}" var="hotel">

                                <li>
                                    <div class="booking-item booking-item-small"
                                         onclick="document.location='HotelReview.jsf?hotelId=#{hotel.id}'">
                                        <div class="row">
                                            <div class="col-xs-4">
                                                <img src='' alt="" title=""/>
                                            </div>
                                            <div class="col-xs-5">
                                                <h5 class="booking-item-title">#{hotel.name}</h5>
                                                <ul class="icon-group booking-item-rating-stars">
                                                    <li><i class="fa fa-star"></i></li>
                                                    <li><i class="fa fa-star"></i></li>
                                                    <li><i class="fa fa-star"></i></li>
                                                    <li><i class="fa fa-star"></i></li>
                                                    <li><i class="fa fa-star-half-empty"></i></li>
                                                </ul>
                                            </div>
                                            <div class="col-xs-3">
                                                <span class="booking-item-price-from">from</span><span
                                                    class="booking-item-price">$299</span>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ui:repeat>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="gap gap-small"></div>
        </div>

    </ui:define>
    <ui:define name="body-js">

        <script
                src="http://maps.googleapis.com/maps/api/js?v=3.exp&amp;sensor=false&amp;libraries=places&amp;key=AIzaSyDwth_dvbdUffh-nt3IkDH8Sxd4r8Y4MQo"></script>
    </ui:define>
</ui:composition>
</html>