<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ps="http://xmlns.jcp.org/jsf/passthrough">
<ui:composition template="/WEB-INF/template/template.xhtml">
    <ui:define name="head-title">Hotels</ui:define>

    <ui:define name="content">


        <div class="container">
            <ul class="breadcrumb">
                <li><a href="Home.jsf">Home</a></li>
                <ui:repeat var="destination" value="#{hotelsBean.destinationList}">

                    <li>
                        <a href="SearchHotels.jsf?view=block&amp;destinationId=#{destination.destinationId}">#{destination.destinationName}</a>
                    </li>


                </ui:repeat>
                <li class="active">#{hotelsBean.destination.name} Hotels</li>
            </ul>
            <div class="mfp-with-anim mfp-hide mfp-dialog mfp-search-dialog"
                 id="search-dialog">
                <h3>Search for Hotel</h3>

                <h:form id="hotelSearchForm">
                    <div class="form-group form-group-lg form-group-icon-left">
                        <i class="fa fa-map-marker input-icon"></i> <label>Where
                        are you going?</label>

                        <h:inputText global="false" id="search"
                                     value="#{itemSearchBean.key}"
                                     styleClass="typeahead form-control"
                                     autocomplete="off"
                                     ps:placeholder="City, Airport, Point of Interest or U.S. Zip Code"
                                     required="true">
                            <f:validateLength minimum="1"/>
                            <f:ajax event="keyup" execute="@this"
                                    listener="#{itemSearchBean.searchItem}"
                                    render="search-panel"/>
                        </h:inputText>
                        <h:panelGroup id="search-panel">
															<span id="search-hotel"> <h:panelGroup
                                                                    id="search-span"
                                                                    rendered="#{itemSearchBean.display}">
                                                                <ul
                                                                        class="ui-search-autocomplete ui-search-front ui-search-menu ui-search-widget ui-search-widget-content ui-search-corner-all ui-search-searchbox-autocomplete"
                                                                        id="ui-search-id-1" tabindex="0"
                                                                        style="position: absolute; width: 576px; padding: 0;">
                                                                    <li class="autocomplete-recentSearches"
                                                                        style="list-style: none">
                                                                        <h3 class="autocomplete-recentSearches-title">Your
                                                                            search history will be visible here</h3>

                                                                        <p>
                                                                            To save your searches for your next visit, please
                                                                            <a
                                                                                    class="register"
                                                                                    href="Register.jsf">
                                                                                log in here </a>
                                                                        </p>

                                                                        <p>
                                                                            No account yet? <a class="register"
                                                                                               href="Register.jsf"> Sign up here </a>
                                                                        </p>
                                                                    </li>
                                                                    <ui:repeat value="#{itemSearchBean.items}"
                                                                               var="item"
                                                                               varStatus="loop">

                                                                        <li class="ui-search-menu-item"
                                                                            role="presentation">
                                                                            <p:commandLink
                                                                                    actionListener="#{itemSearchBean.setItem(item)}"
                                                                                    update="@form"
                                                                                    styleClass="ui-search-corner-all">
                                                                                <span
                                                                                        class="autocompleteType autocompleteType#{item.itemType}">
																						&nbsp; </span> <span
                                                                                    class="autocompleteValue"> <strong></strong>
																						<h:outputText
                                                                                                value="#{item.itemName}"/>
																				</span>
                                                                            </p:commandLink>
                                                                        </li>
                                                                    </ui:repeat>
                                                                    <li class="refine" style="list-style: none">Type
                                                                        more to refine your search results
                                                                    </li>
                                                                </ul>
                                                            </h:panelGroup>
															</span>
                        </h:panelGroup>
                    </div>
                    <div class="input-daterange" data-date-format="M d, D">
                        <div class="row">
                            <div class="col-md-3">
                                <div
                                        class="form-group form-group-lg form-group-icon-left">
                                    <i
                                            class="fa fa-calendar input-icon input-icon-highlight"></i>
                                    <label>Check-in</label>

                                    <p:calendar styleClass="date-span" id="datein"
                                                value="#{itemSearchBean.datein}"></p:calendar>

                                </div>
                            </div>
                            <div class="col-md-3">
                                <div
                                        class="form-group form-group-lg form-group-icon-left">
                                    <i
                                            class="fa fa-calendar input-icon input-icon-highlight"></i>
                                    <label>Check-out</label>
                                    <p:calendar styleClass="date-span" id="dateout"
                                                value="#{itemSearchBean.dateout}"></p:calendar>

                                </div>
                            </div>
                            <div class="col-md-3">
                                <div
                                        class="form-group form-group-lg form-group-select-plus">
                                    <label>Rooms</label>

                                    <div class="btn-group btn-group-select-num"
                                         data-toggle="buttons">
                                        <label class="btn btn-primary active"> <input
                                                type="radio" name="options"/>1
                                        </label> <label class="btn btn-primary"> <input
                                            type="radio" name="options"/>2
                                    </label> <label class="btn btn-primary"> <input
                                            type="radio" name="options"/>3
                                    </label> <label class="btn btn-primary"> <input
                                            type="radio" name="options"/>3+
                                    </label>
                                    </div>
                                    <select class="form-control hidden">
                                        <option>1</option>
                                        <option>2</option>
                                        <option>3</option>
                                        <option selected="selected">4</option>
                                        <option>5</option>
                                        <option>6</option>
                                        <option>7</option>
                                        <option>8</option>
                                        <option>9</option>
                                        <option>10</option>
                                        <option>11</option>
                                        <option>12</option>
                                        <option>13</option>
                                        <option>14</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div
                                        class="form-group form-group-lg form-group-select-plus">
                                    <label>Guests</label>

                                    <div class="btn-group btn-group-select-num"
                                         data-toggle="buttons">
                                        <label class="btn btn-primary active"> <input
                                                type="radio" name="options"/>1
                                        </label> <label class="btn btn-primary"> <input
                                            type="radio" name="options"/>2
                                    </label> <label class="btn btn-primary"> <input
                                            type="radio" name="options"/>3
                                    </label> <label class="btn btn-primary"> <input
                                            type="radio" name="options"/>3+
                                    </label>
                                    </div>
                                    <select class="form-control hidden">
                                        <option>1</option>
                                        <option>2</option>
                                        <option>3</option>
                                        <option selected="selected">4</option>
                                        <option>5</option>
                                        <option>6</option>
                                        <option>7</option>
                                        <option>8</option>
                                        <option>9</option>
                                        <option>10</option>
                                        <option>11</option>
                                        <option>12</option>
                                        <option>13</option>
                                        <option>14</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <h:commandButton id="hotel-search-btn"
                                     styleClass="btn btn-primary btn-lg"
                                     data-animation-type="bounce"
                                     data-animation-duration="1"
                                     value="Search for Hotels"
                                     action="#{itemSearchBean.submit}"/>
                </h:form>
            </div>
            <h3 class="booking-title">
                <h:outputText id="hotelCount" value="#{hotelsBean.hotelCount}"/>
                hotels in
                <h:outputText id="destinationName"
                              value="#{hotelsBean.destination.name}"/>
                on Mar 22 - Apr 17 for 1 adult
                <small><a class="popup-text"
                          href="#search-dialog" data-effect="mfp-zoom-out">Change search</a></small>
            </h3>
            <div class="row">
                <div class="col-md-3">
                    <aside class="booking-filters booking-filters-white">
                        <h3>Filter By:</h3>
                        <h:form id="form-left">


                            <ul class="list booking-filters-list">
                                <li style="display: none;">
                                    <h5 class="booking-filters-title">Price</h5> <h:panelGrid
                                        columns="1" style="margin-bottom: 10px">
                                    <h:outputText id="displayRange"
                                                  value="Between 10 and 1000"/>
                                    <p:slider display="displayRange"
                                              displayTemplate="Between {min} and {max}"
                                              for="minPrice,maxPrice" style="width:230px" range="true"
                                              styleClass="sld" minValue="140" maxValue="567">
                                        <p:ajax process="@this,minPrice,maxPrice"
                                                listener="#{hotelsBean.updateHotels}"
                                                update=":form-right, :hotelCount"/>
                                    </p:slider>
                                </h:panelGrid> <h:inputHidden id="minPrice"
                                                              styleClass="amount1 min-price-label"
                                                              value="10"/> <h:inputHidden
                                        id="maxPrice"
                                        styleClass="amount2 max-price-label"
                                        value="1000"/>


                                </li>
                                <li>
                                    <h5 class="booking-filters-title">Star Rating</h5> <ui:repeat
                                        var="filterStar" styleClass="sbox"
                                        value="#{hotelsBean.hotelSearchRequest.filterStarList}">

                                    <div class="checkbox">
                                        <label>
                                            <div class="i-check #{filterStar.checked?'checked':''}">
                                                <h:selectBooleanCheckbox value="#{filterStar.checked}"
                                                                         styleClass="i-check #{filterStar.checked?'checked':''}">
                                                    <f:ajax listener="#{hotelsBean.updateHotels}"
                                                            render=":form-right :form-left :hotelCount"/>

                                                </h:selectBooleanCheckbox>
                                                <ins class="iCheck-helper"
                                                     style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; border: 0px; opacity: 0; background: rgb(255, 255, 255);"></ins>
                                            </div>
                                            <div class="booking-item-rating">

                                                <ul class="icon-group booking-item-rating-stars"
                                                    style="margin-right:3px">
                                                    <ui:repeat value="#{hotelsBean.createArray(filterStar.id)}">
                                                        <li><i class="fa fa-star"></i></li>
                                                    </ui:repeat>
                                                </ul>
                                                (#{filterStar.hotelCount})
                                            </div>
                                        </label>
                                    </div>
                                </ui:repeat>


                                </li>
                                <li>
                                    <h5 class="booking-filters-title">Amenities</h5> <ui:repeat
                                        var="amenity" styleClass="sbox"
                                        value="#{hotelsBean.hotelSearchRequest.amenityList}">

                                    <div class="checkbox">
                                        <label>
                                            <div class="i-check #{amenity.checked?'checked':''}">
                                                <h:selectBooleanCheckbox value="#{amenity.checked}"
                                                                         styleClass="i-check #{amenity.checked?'checked':''}">
                                                    <f:ajax listener="#{hotelsBean.updateHotels}"
                                                            render=":form-right :form-left :hotelCount"/>

                                                </h:selectBooleanCheckbox>
                                                <ins class="iCheck-helper"
                                                     style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; border: 0px; opacity: 0; background: rgb(255, 255, 255);"></ins>
                                            </div>
                                            #{amenity.name} (#{amenity.hotelCount})
                                        </label>
                                    </div>
                                </ui:repeat>

                                </li>
                            </ul>
                        </h:form></aside>
                </div>
                <div class="col-md-9">
                    <div class="nav-drop booking-sort">
                        <h5 class="booking-sort-title">
                            <a href="#">Sort: Aviability<i class="fa fa-angle-down"></i><i
                                    class="fa fa-angle-up"></i></a>
                        </h5>
                        <ul class="nav-drop-menu">
                            <li><a href="#">Price (low to high)</a></li>
                            <li><a href="#">Price (hight to low)</a></li>
                            <li><a href="#">Ranking</a></li>
                            <li><a href="#">Distance</a></li>
                            <li><a href="#">Number of Reviews</a></li>
                        </ul>
                    </div>

                    <h:form id="form-right">
                        <p:ajaxStatus style="width:16px;height:16px;" id="ajaxStatusPanel">

                            <f:facet name="start">
                                <div class="ModalProgressContainer">
                                    <div class="ModalProgressContent">
                                        Updating list...<br/>
                                        <h:graphicImage value="img/ajax-loader.gif"/>
                                    </div>
                                </div>
                            </f:facet>

                            <f:facet name="complete">
                                <h:outputText value=""/>
                            </f:facet>
                        </p:ajaxStatus>
                        <ul class="booking-list">
                            <c:forEach items="#{hotelsBean.hotelList}" var="hotel"
                                       varStatus="loop">


                                <li><a class="booking-item"
                                       href="HotelReview.jsf?hotelId=#{hotel.hotelId}">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <div class="booking-item-img-wrap">
                                                <img src='#{hotelsBean.getImageThumbUrl(hotel)}' alt="#{hotel.name}"
                                                     title="" height="100" width="110"/>

                                                <div class="booking-item-img-num">
                                                    <i class="fa fa-picture-o"></i>#{hotel.images.size()}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="booking-item-rating">
                                                <ul class="icon-group booking-item-rating-stars">
                                                    <ui:repeat value="#{hotelsBean.createArray(hotel.star)}">
                                                        <li><i class="fa fa-star"></i></li>
                                                    </ui:repeat>
                                                </ul>
                                                <span class="booking-item-rating-number"
                                                      style="display: #{hotel.star>0?'':'none'};"><b>#{hotel.star}</b> of
														5</span>
                                                <small>(923 reviews)</small>
                                            </div>
                                            <h5 class="booking-item-title">#{hotel.name}</h5>

                                            <p class="booking-item-address">
                                                <i class="fa fa-map-marker"></i>    #{hotel.street}
                                                #{hotel.postalCode}
                                                #{hotel.locality}  #{hotel.country}
                                            </p>
                                            <small class="booking-item-last-booked">Latest
                                                booking: 25 minutes ago
                                            </small>
                                        </div>
                                        <div class="col-md-3">
                                            <span class="booking-item-price-from">from</span><span
                                                class="booking-item-price">$415</span><span>/night</span><span
                                                class="btn btn-primary">Book Now</span>
                                        </div>
                                    </div>
                                </a></li>


                            </c:forEach>


                        </ul>
                        <div class="row">
                            <div class="col-lg-12">

                                <ul class="pagination" style="display: #{hotelsBean.hotelCount>6?'':'none'}">

                                    <li><h:commandLink action="Hotels.jsf" value="Previous"
                                                       includeViewParams="true">

                                        <f:ajax event="click" render=":form-right"
                                                listener='#{hotelsBean.prevPage}'/>
                                    </h:commandLink></li>
                                    <ui:repeat var="page" value="#{hotelsBean.pages}">
                                        <li class='#{page.get("class")}'><h:commandLink
                                                value='#{page.get("pageNo")}'>

                                            <f:ajax event="click" render=":form-right"
                                                    listener='#{hotelsBean.goPage(page.get("pageNo"))}'/>
                                        </h:commandLink></li>
                                    </ui:repeat>
                                    <li class="next"><h:commandLink action="Hotels.jsf"
                                                                    value="Next Page" includeViewParams="true">
                                        <f:ajax event="click" render=":form-right"
                                                listener='#{hotelsBean.nextPage}'/>
                                    </h:commandLink></li>

                                </ul>

                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <p>
                                    <small><h:outputText id="hotelCount"
                                                         value="#{hotelsBean.hotelCount}"/> hotels found in
                                        <h:outputText
                                                value="#{hotelsBean.destination.name}"/>.
                                        &nbsp;&nbsp;Showing #{(hotelsBean.hotelSearchRequest.pageNo-1)*6+1} –#{hotelsBean.hotelCount>6?hotelsBean.hotelSearchRequest.pageNo*6:hotelsBean.hotelCount}
                                    </small>
                                </p>


                            </div>
                            <div class="col-md-6 text-right">
                                <p>
                                    Not what you're looking for? <a class="popup-text"
                                                                    href="#search-dialog"
                                                                    data-effect="mfp-zoom-out">Try your
                                    search again</a>
                                </p>
                            </div>
                        </div>

                    </h:form>
                </div>
            </div>
            <div class="gap"></div>
        </div>


    </ui:define>
    <ui:define name="body-js">
        <script type="text/javascript">
            initCalendar();
            function initCalendar() {
                datein = document.getElementById('hotelSearchForm:datein_input');
                dateout = document.getElementById('hotelSearchForm:dateout_input');
                datein.setAttribute("class", "form-control");
                dateout.setAttribute("class", "form-control");
            }

            $('body').click(function () {

                $(".ui-search-autocomplete").hide();
            });

        </script>
    </ui:define>
</ui:composition>
</html>